<div *ngIf="isLogged, else elseBlock">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card text-center">
                    <h5>Tailles:</h5>
    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des tailles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-add" data-toggle="tab" href="#add" role="tab" aria-controls="add">Ajouter une taille</a>
                        </li>
                    </ul>
                    <div *ngIf="dataList">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                                <p>Liste des tailles</p>
                                <div class="row">
                                    <div class="col-10 row">
                                        <div class="col-2 align-self-center">ID
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderById()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Catégorie
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByCategory()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                 <path fill-rule="evenodd" [attr.d]=categoryLogoSrcOne/>
                                                 <path fill-rule="evenodd" [attr.d]=categoryLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Taille
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderBySize()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=sizeLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=sizeLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Editer</div>
                                    </div>
                                        <label class="align-self-center">Supprimer</label>
                                </div>
                                <div class="tableRow row" *ngFor="let control of formArray.controls, index as i" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0" >
                                    <form class="col-10 row"    (ngSubmit)="onSubmitEditData(i)"[formGroup]="formArray.controls[i]" >
                                        <div class="col-2">
                                            <input type="text" id="{{'id_' + control.value['id']}}" class="form-control-plaintext" formControlName="id"  matTooltip="L'id d'une taille ne peut pas être modifié, vous pouvez juste le voir."  readonly required>
                                        </div>
                                        <div class="col-3 ">
                                            <input type="text" id="{{'category_'+ control.value['id']}}" class="form-control"  formControlName="category" matTooltip="La catégorie de la taille (ex: FOOT, BOTTOM, CHEST,...)" required>
                                            <mat-error *ngIf="formArray.controls[i].controls['category'].invalid">Catégorie incorrecte</mat-error>
                                        </div>
                                        <div class="col-3" >
                                            <input  type="text" id="{{'size_' + control.value['id']}}" class="form-control" formControlName="size" matTooltip="La taille que vous souhaitez ajouter" required >
                                            <mat-error *ngIf="formArray.controls[i].controls['size'].invalid">Taille incorrecte</mat-error>
                                        </div>
                                        <div class="col-3 ">
                                            <button type="submit" class="btn btn-secondary" [disabled]="control.invalid">Modifier</button>
                                        </div>
                                    </form>
                                    <button (click)="onDeleteData(i)" class="btn btn-danger">Supprimer</button>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Eléments par page
                                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label *ngIf="pages.length > 1" for="pagination">Numéro de la page</label>
                                        <select class="selectpicker" id="pagination"  *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)" >
                                            <option *ngFor= "let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>  
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="tab-add">
                                <p>Ajouter une taille</p>
                                <form [formGroup]="addModelForm" class="row" (ngSubmit)="onSubmitAddDataForm()">
                                    <div class="form-inline col-5">
                                        <label for="category">Catégorie:</label>
                                        <input placeholder="Catégorie de la taille" type="text" id="category" class="form-control" formControlName="category" required matTooltip="Entrez la catégorie de cette taille (FOOT, CHEST,...)">
                                        <mat-error *ngIf="addModelForm.controls['category'].invalid">Catégorie incorrecte</mat-error>
                                    </div>
                                    <div class="form-inline col-5">
                                        <label for="size">Taille:</label>
                                        <input placeholder="La taille" type="text" id="size" class="form-control" formControlName="size" required matTooltip="Entrez la taille">
                                        <mat-error *ngIf="addModelForm.controls['size'].invalid">Format incorrect</mat-error>
                                    </div>
                                    <div class="col-2 align-self-center">
                                        <button type="submit" class="btn btn-secondary" [disabled]="addModelForm.invalid">Ajouter la taille</button>
                                    </div>
                                    
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Cette page n'est accessible qu'aux utilisateurs authentifiés</h2>
</ng-template>




