<div >
    <div class="row"> <!--En-têtre du tableau Colonnes à afficher: date, utilisateur, note, commentaire, id?  --> 
        <div class="col-2 align-self-center">ID
            <svg class="bi bi-arrow-up" wudtg="1em" height="1em" (click)="onOrderById()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" [attr.d]="idLogoSrcOne"/>
                <path fill-rule="evenodd" [attr.d]="idLogoSrcTwo"/>
            </svg>
        </div>
        <div class="col-2 align-self-center">Utilisateur</div>
        <div class="col-2 align-self-center">Date
            <svg class="bi bi-arrow-up" wudtg="1em" height="1em" (click)="onOrderByDate()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" [attr.d]="dateLogoSrcOne"/>
                <path fill-rule="evenodd" [attr.d]="dateLogoSrcTwo"/>
            </svg>
        </div>
        <div class="col-2 align-self-center">Note
            <svg class="bi bi-arrow-up" wudtg="1em" height="1em" (click)="onOrderByNote()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" [attr.d]="noteLogoSrcOne"/>
                <path fill-rule="evenodd" [attr.d]="noteLogoSrcTwo"/>
            </svg>
        </div>
        <div class="col-4 align-self-center">Commentaire</div>
    </div>
    <div *ngIf="dataList">
        <div class="row" *ngFor="let comm of dataList.list, index as i" [class.even]="i%2 ===0" [class.odd]="i%2 !==0"><!--Row qui va représenter les données d'un commentaire-->
            <div class="col-2 align-self-center">
                {{comm.clotheNoteId}}
            </div>
            <div class="col-2 align-self-center">
                {{comm.poster}}
            </div>
            <div class="col-2 align-self-center">
                {{comm.creationDate | date:'d MMMM y'}}
            </div>
            <div class="col-2 align-self-center">
                {{comm.note}}/10
            </div>
            <div class="col-4 align-self-center">
                {{comm.comment}}
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div *ngIf="dataList, else elseBlock" class="row"><!-- Pagination -->
    <div class="col-4">
        Elements par page
        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
            <option *ngFor="let e of elementsPerPage">{{e}}</option>
        </select>
    </div>
    <div class="col-4">
        <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
        <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
            <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
        </select>
    </div>
    <div class="col-4">
        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
    </div>
</div>
<ng-template #elseBlock>
    <h2>Aucun commentaire à l'heure actuelle</h2>
</ng-template>
<mat-divider></mat-divider>
<div style="background-color:rgba(122, 118, 111, 0.384); border-radius: 5px;margin-bottom:2px;" >
    <div class="row" style="margin-top: 5%; text-align: center;"> <!--Formulaire d'ajout d'un commentaire-->
        <p>Ajouter/Modifier mon avis</p>
        
    </div>
    <div class="row" >
        <form [formGroup]="addModelForm" (ngSubmit)="onSubmitAddDataForm()">
            <mat-form-field class="col-5">
                <mat-label>Votre note</mat-label>
                <input matInput type="number" max="10" min="0" formControlName="note" matInput required/>
                <mat-error *ngIf="addModelForm.controls['note'].invalid">Vous devez indiquer une note comprise entre 0 et 10 </mat-error>
            </mat-form-field>
            <mat-form-field class="col-5" appearance="fill">
                <mat-label>Votre commentaire</mat-label>
                <textarea formControlName="comment" matInput ></textarea>
                <mat-error *ngIf="addModelForm.controls['comment'].invalid">Des caractères non autorisés ont été trouvés dans votre commentaire</mat-error>
            </mat-form-field>
            <button mat-raised-button class="col-2" color="primary" type="submit">Envoyer</button>
        </form>
    </div>
</div>
