.bi-arrow-up:hover{
    cursor: pointer;
    background-color: rgb(205, 205, 223);
    border-radius: 30%;
}
.odd{
    background-color: rgb(245, 244, 243);
    border-radius: 7px;
}
.even{
    background-color: rgba(192, 192, 192, 0.918);
    border-radius: 2px;
}
