<div *ngIf="dataList">
    <mat-form-field [formGroup]="form" *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm"  [compareWith]="compareObjects" (selectionChange)="onSelect($event)" multiple >
            <mat-optgroup *ngFor="let cat of categories" [label] = "cat">
                <ng-container *ngFor="let ct of dataList.list">
                    <mat-option *ngIf="ct.category === cat" [value]="ct">{{ct.clotheType}}</mat-option>
                </ng-container>
            </mat-optgroup>
        </mat-select>
        
    </mat-form-field>
</div>