<ng-container *ngIf="hasAdminRole, else pictureDisplayerIfNotAdmin">
    <div class="row" style="background-color:rgba(122, 118, 111, 0.384); border-radius: 5px;margin-bottom:2px;">
        <form (ngSubmit)="onSubmitEditPicture()" [formGroup]="form" class="col-6">
            <div class="row">
                <mat-form-field class="col-12" >
                    <mat-label>Nom de la photo</mat-label>
                    <input matInput formControlName="name" value="{{pictureModel.name}}">
                    <mat-error *ngIf="form.controls['name'].invalid">Nom invalide</mat-error>
                </mat-form-field>                
            </div>
            <div class="row">
                <mat-form-field class="col-12" >
                    <mat-label>url</mat-label>
                    <input matInput formControlName="url" value="{{pictureModel.url}}">
                    <mat-error *ngIf="form.controls['url'].invalid">url invalide</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="col-4">
           <img src="{{pictureModel.url}}" alt="{{pictureModel.name}}" (click)="openLink()" class="loc-displayer-img">
        </div>
        <div class="col-2" >
            <div class="row">
                <button style="margin-top:25%"   mat-raised-button color="primary" (click)="updatePicture()" [disabled]="form.invalid">Appliquer</button>
            </div>
                <div class="row">
                    <button style="margin-top:25%"  mat-raised-button color="warn" (click)="deletePicture()">Supprimer</button>
                </div>          
        </div> 
    </div>
</ng-container>
<ng-template #pictureDisplayerIfNotAdmin>
    <div class="row" style="background-color:rgba(122, 118, 111, 0.384); border-radius: 5px;margin-bottom:2px;">
        <form (ngSubmit)="onSubmitEditPicture()" [formGroup]="form" class="col-6">
            <div class="row">
                <mat-form-field class="col-12" >
                    <mat-label>Nom de la photo</mat-label>
                    <input readonly matInput formControlName="name" value="{{pictureModel.name}}">
                    <mat-error *ngIf="form.controls['name'].invalid">Nom invalide</mat-error>
                </mat-form-field>
                
            </div>
            <div class="row">
                <mat-form-field class="col-12" >
                    <mat-label>url</mat-label>
                    <input readonly matInput formControlName="url" value="{{pictureModel.url}}">
                    <mat-error *ngIf="form.controls['url'].invalid">url invalide</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="col-6">
           <img src="{{pictureModel.url}}" alt="{{pictureModel.name}}" (click)="openLink()" class="loc-displayer-img-na">
        </div>
    </div>
</ng-template>