.loc-displayer-img{  
    width: 10em;
    max-height: 10em;
    border-radius: 4px;
}
.loc-displayer-img:hover{
    cursor: pointer;
}

.loc-displayer-img-na{  
    width: 18em;
    max-height: 16em;
    border-radius: 4px;
}
.loc-displayer-img-na:hover{
    cursor: pointer;
}