<div *ngIf="isLogged, else elseBlock">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card text-header">
                    <h5>Statuts de mannes:</h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des statuts de mannes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-add" data-toggle="tab" href="#add" role="tab" aria-controls="add">Ajouter un statut</a>
                        </li>
                    </ul>
                    <div *ngIf="dataList">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                                <p>Liste des statuts</p>
                                <div class="row">
                                    <div class="col-10 row">
                                        <div class="col-2 align-self-center">ID
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderById()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-5 align-self-center">Statut
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByName()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=nameLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=nameLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Editer</div>
                                    </div>
                                    <div class="col-2 align-self-center">Supprimer</div>
                                </div>
                                <div class="tableRow row" *ngFor="let control of formArray.controls, index as i" [class.even]="i % 2 === 0" [class.odd]="i % 2 !==0">
                                    <form class="col-10 row" (ngSubmit)="onSubmitEditData(i)" [formGroup]="formArray.controls[i]">
                                        <div class="col-2">
                                            <input type="text" id="{{'id_'+control.value['maneStatusId']}}" class="form-control-plaintext" formControlName="maneStatusId" matTooltip="L'id d'un statut ne peut être modifié" readonly required>
                                        </div>
                                        <div class="col-5">
                                            <input type="text" id="{{'status_'+control.value['maneStatusId']}}" class="form-control" formControlName="status" matTooltip="Le statut (écrit en MAJ)" required>
                                            <mat-error *ngIf="formArray.controls[i].controls['status'].invalid">Statut incorrect</mat-error>
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-secondary" [disabled]="control.invalid">Modifier</button>
                                        </div>
                                    </form>
                                    <button (click)="onDeleteData(i)" class="btn btn-danger col-2">Supprimer</button>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Elements par page
                                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                                        <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                                            <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                                    </div>
                                </div>
                            </div>
                                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="tab-add">
                                    <p>Ajouter un statut</p>
                                    <form [formGroup]="addModelForm" class="row" (ngSubmit)="onSubmitAddDataForm()">
                                        <div class="form-inline col-9">
                                            <label for="status">Couleur:</label>
                                            <input placeholder="Statut" type="text"  class="form-control" formControlName="status" required matTooltip="Entrez le statut de manne à ajouter (en MAJ)">
                                            <mat-error *ngIf="addModelForm.controls['status'].invalid">statut invalide</mat-error>
                                        </div>
                                        <div class="col-3 align-self-center">
                                            <button type="submit" class="btn btn-secondary" [disabled]="addModelForm.invalid">Ajouter le statut</button>
                                        </div>
                                    </form>
                                </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<ng-template #elseblock>
    <h2> Cette page n'est accessible qu'aux utilisateurs authentifiés</h2>
</ng-template>
