<div *ngIf="isLogged, else elseBlock">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <div class="card text-center">
                    <h5>Photos:</h5>
    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des photos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-add" data-toggle="tab" href="#add" role="tab" aria-controls="add">Ajouter une photo</a>
                        </li>
                    </ul>
                    <div *ngIf="dataList">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                                <p>Liste des photos</p>
                                <div class="row">
                                    
                                        <div class="col-1 align-self-center">ID
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderById()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-2 align-self-center">Nom
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByName()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                 <path fill-rule="evenodd" [attr.d]=nameLogoSrcOne/>
                                                 <path fill-rule="evenodd" [attr.d]=nameLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-2 align-self-center">url
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByUrl()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=urlLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=urlLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Prévisualiser</div>
                                        <div class="col-1 align-self-center">Editer</div>
                                        <div class="col-2 align-self-center">Supprimer</div>
                                    
                                        
                                </div>
                                <div class="tableRow row" *ngFor="let control of formArray.controls, index as i" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0" >
                                    <form class=" row tst"    (ngSubmit)="onSubmitEditData(i)"[formGroup]="formArray.controls[i]" >
                                        <div class="col-1 containmentCell">
                                            <input type="text" id="{{'id_' + control.value['pictureId']}}" class="form-control-plaintext childToCenter " formControlName="pictureId"  matTooltip="L'id d'une photo ne peut pas être modifié, vous pouvez juste le voir."  readonly required>
                                        </div>
                                        <div class="col-2 containmentCell">
                                            <input type="text" id="{{'name_'+ control.value['pictureId']}}" class="form-control childToCenter"  formControlName="name" matTooltip="Le nom de la photo" required>
                                            <mat-error *ngIf="formArray.controls[i].controls['name'].invalid">Nom incorrect</mat-error>
                                        </div>
                                        <div class="col-2 containmentCell" >
                                            <input  type="text" id="{{'url_' + control.value['pictureId']}}" class="form-control childToCenter" formControlName="url" matTooltip="L'url de cette photo" required >
                                            <mat-error *ngIf="formArray.controls[i].controls['url'].invalid">Url incorrecte</mat-error>
                                        </div>
                                        <div class="col-3">
                                            <img class="loc-img" (click)="goToLink(control.value['url'])" src="{{control.value['url']}}" alt="{{control.value['name']}}" id="{{'prev_' + control.value['pictureId']}}">
                                        </div>
                                        <div class="col-1 containmentCell">
                                            <button type="submit" class="btn btn-secondary childToCenter" [disabled]="control.invalid">Modifier</button>
                                        </div>
                                        <div class="col-2 containmentCell">
                                            <button (click)="onDeleteData(i)" type="button" class="btn btn-danger childToCenter">Supprimer</button>
                                        </div>
                                    </form>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Eléments par page
                                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label *ngIf="pages.length > 1" for="pagination">Numéro de la page</label>
                                        <select class="selectpicker" id="pagination"  *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)" >
                                            <option *ngFor= "let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>  
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="tab-add">
                                <p>Ajouter une photo</p>
                                <form [formGroup]="addModelForm" class="row" (ngSubmit)="onSubmitAddDataForm()">
                                    <div class="form-inline col-5">
                                        <label for="name">Nom:</label>
                                        <input placeholder="Nom de la taille" type="text" id="name" class="form-control" formControlName="name" required matTooltip="Entrez le nom de cette photo">
                                        <mat-error *ngIf="addModelForm.controls['name'].invalid">Nom incorrect</mat-error>
                                    </div>
                                    <div class="form-inline col-5">
                                        <label for="url">url:</label>
                                        <input placeholder="L'url" type="text" id="url" class="form-control" formControlName="url" required matTooltip="Entrez l'url de la photo">
                                        <mat-error *ngIf="addModelForm.controls['url'].invalid">Format incorrect</mat-error>
                                    </div>
                                    <div class="col-2 align-self-center">
                                        <button type="submit" class="btn btn-secondary" [disabled]="addModelForm.invalid">Ajouter la photo</button>
                                    </div>
                                </form>
                                <div *ngIf="addModelForm.controls['url'].valid" class="row">
                                    Prévisualisation:
                                    <img src="{{addModelForm.value['url']}}" alt="{{addModelForm.value['name']}}" class="loc-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Cette page n'est accessible qu'aux utilisateurs authentifiés</h2>
</ng-template>




