<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LOC-Helper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="colors" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            couleurs
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="sizes" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Tailles
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="brands" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Marques
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="clotheTypes" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Types
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="materials" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Matières
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="providers" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Fournisseurs
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="seasons" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Saisons
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="themes" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Thèmes
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="styles" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Styles
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="sexes" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Sexes
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="maneStatuses" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Statuts de mannes
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="maintenanceInstructions" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Instructions de maintenance
          </a>
        </li>
        <li *ngIf="roles.indexOf('administrateur') >-1" >
          <a routerLink="pictures" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Photos
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="clothes" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Vêtements
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="possessionList" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Mes vêtements
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="friends" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Amis
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="sharedPossessionList" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Mes vêtements prêtés
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="outfits" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Tenues
          </a>
        </li>
        <li *ngIf="roles.indexOf('utilisateur') >-1" >
          <a routerLink="laundryGroups" class="nav-link menu-icon" role="button" routerLinkActive="active" href="#">
            Groupes lessive
          </a>
        </li>

        
      </ul>
      <span>
        <div *ngIf="isLoggedIn, else notLoggedInBlock">
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownNavbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Compte</button>
            <div class="dropdown-menu" aria-labelledby="dropdownNavbar">
              <a routerLink="profile" class="dropdown-item nav-link menu-icon" role="button" routerLinkActive="active" href="#">Profil</a>
              <button class="dropdown-item" type="button" (click)="logout()">Déconnexion</button>
            </div>
          </div>      
        </div>
  
        <ng-template #notLoggedInBlock>
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownNavbar2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S'authentifier</button>
            <div class="dropdown-menu" aria-labelledby="dropdownNavbar2">
              <a routerLink="login" class="dropdown-item nav-link menu-icon" role="button" routerLinkActive="active" href="#">
                <i class="pi pi-list"></i>Connexion
              </a>
              <a routerLink="signup" class="dropdown-item nav-link menu-icon" role="button" routerLinkActive="active" href="#">
                <i class="pi pi-list"></i>Inscription
              </a>
              <a routerLink="recoverAccount" class="dropdown-item nav-link menu-icon" role="button" routerLinkActive="active" href="#">
                <i class="pi pi-list"></i>Mot de passe oublié
              </a>
            </div>
          </div>
          
        </ng-template>
      </span>
      
      
    </div>
  </nav>