<div *ngIf="possessionModel" class="card">
    <div class="card-header" attr.id="{{'heading_' + possessionModel.possessionId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed " type="button" data-toggle="collapse" attr.data-target="{{'#collapse_' + possessionModel.possessionId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' + possessionModel.possessionId}}" [class.greenBackground]="hasReadyStatus === true" [class.redBackground]="hasReadyStatus === false" >
                {{possessionModel.clotheModel.name}}, taille: {{possessionModel.sizeModel.size}}, prêté à {{possessionModel.user}}
                <img *ngFor="let picture of possessionModel.clotheModel.pictureModels" alt="{{picture.name}}" src="{{picture.url}}" style="width:5em; max-height:5em; border-radius: 4px; margin-left: 2px; margin-right: 2px;">
        </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + possessionModel.possessionId}}" class="collapse" attr.aria-labelledby="{{'heading_' + possessionModel.possessionId}}" data-parent="#accordionPossessions">
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <!--Photos-->
                    <div class="row" *ngFor="let picture of possessionModel.clotheModel.pictureModels">
                        <a href="{{picture.url}}" target="_blank">
                            <img src="{{picture.url}}" alt="{{picture.name}}" class="med-img">
                        </a>
                    </div>
                </div>
                <div class="col-8"> <!--Infos-->
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Vêtement:</mat-label>
                                <mat-chip-list>
                                    <mat-chip>
                                        <a href="{{possessionModel.clotheModel.url}}" target="_blank">{{possessionModel.clotheModel.name}}</a>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Taille:</mat-label>
                                <mat-chip-list>
                                    <mat-chip>
                                        {{possessionModel.sizeModel.size}}
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Sexe:</mat-label>
                                <mat-chip-list>
                                    <mat-chip>
                                        {{possessionModel.clotheModel.sexModel.sex}}
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Matières:</mat-label>
                                <mat-chip-list>
                                    <mat-chip style="display: none;"></mat-chip>
                                    <mat-chip *ngFor="let mat of possessionModel.clotheModel.materialModels">{{mat.name}}</mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Thèmes:</mat-label>
                                <mat-chip-list>
                                    <mat-chip style="display: none;"></mat-chip>
                                    <mat-chip *ngFor="let theme of possessionModel.clotheModel.themeModels" >{{theme.theme}}</mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Styles:</mat-label>
                                <mat-chip-list>
                                    <mat-chip style="display: none;"></mat-chip>
                                    <mat-chip *ngFor="let style of possessionModel.clotheModel.styleModels" >{{style.style}}</mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Saison: </mat-label>
                                <mat-chip-list aria-label="Thèmes" >
                                    <mat-chip style="display: none;"></mat-chip>
                                    <mat-chip>
                                        {{possessionModel.clotheModel.seasonModel.season}}
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Type(s):</mat-label>
                                <mat-chip-list aria-label="Types" >
                                    <mat-chip style="display: none;"></mat-chip>
                                    <mat-chip *ngFor="let ct of possessionModel.clotheModel.clotheTypeModels" >{{ct.clotheType}}</mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
