<div clas="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card text-center">
                <h5>Erreur 404</h5>
                <div class="card-body">
                    La page que vous cherchez n'existe pas.
                </div>
            </div>
            
        </div>
        <div class="col"></div>
    </div>
</div>