<div *ngIf="dataList">
    <mat-form-field [formGroup]="form" *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select  formControlName="selectForm" [compareWith]="compareObjects" [required]="mustBeSet" (selectionChange)="onSelect($event)" >
            <mat-option *ngIf="isFilter === true">Ne pas filtrer</mat-option>
            <mat-option *ngFor="let brand of dataList.list" [value]="brand">{{brand.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.invalid">Vous devez spécifier une marque</mat-error>
    </mat-form-field>
</div>