<div *ngIf="isLoggedIn else elseBlock">
    <div class="container">
        <h2>Vous êtes connecté et n'avez donc pas besoin d'accéder à cette page.</h2>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card text-center">
                    <h5>Récupérer son mot de passe</h5>
                    <div class="card-body">
                        <form [formGroup]="recoverForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group">
                                <label for="mail">Adresse e-mail</label>
                                <input type="email" id="mail" class="form-control" formControlName="mail" matTooltip="Vous recevrez un mail vous permettant de vous reconnecter au compte lié a cette adresse e-mail" required/>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="recoverForm.invalid">M'envoyer un mail</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Vous avez déjà reçu le mail? <a routerLink="/recoverAccount2" class="nav-link" role="button" routerLinkActive="active" href="#">Cliquez ici</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</ng-template>