<div *ngIf="dataList">
    <mat-form-field [formGroup]="form"  *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [compareWith]="compareObjects" (selectionChange)="onSelect($event)" multiple >
            <mat-option *ngFor="let provider of dataList.list" [value]="provider">{{provider.provider}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>