<div class="row">
    <div class="col-12">
        <div class="card-header text-center">
            <h5>Groupes lessive</h5>
            <ul class="nav nav-tabs" id="tabGroupList" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Mes groupes lessive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-create" data-toggle="tab" href="#create" role="tab" aria-controls="create">Créer un groupe lessive</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                    <div class="row" style="text-align: center;">
                        <h4 style="width: 100%;">Mes groupes lessive</h4>
                    </div>
                    <div class="row" style="background-color: rgba(15, 15, 15, 0.15);">
                        <div class="col-12">
                            <div class="row"><h5>Filtrer</h5></div>
                        </div>
                        <div class="col-12" ><!--Filtre-->
                            <div class="row">
                                <div class="col-3">
                                    <app-mimic-dropdown style="width: 100%;" placeHolder="Filtrer par rôle dans le groupe" resetFlag="{{resetFlagOwner}}" [setOptions]="ownerMimicList" (selectStateChanged)="onChangeOwnerFilter($event)"></app-mimic-dropdown>
                                </div>
                                <div class="col-3">
                                    <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)" ></app-order-dropdown>
                                </div>
                                <div class="col-3" >
                                    <button mat-raised-button color="primary" style="width: 80%;"   (click)="submitFilter()">Appliquer</button>
                                </div>
                                <div class="col-3">
                                    <button mat-raised-button color="warn"  style="width: 80%;" (click)="resetFilter()">Réinitialiser</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" > <!-- liste accordéon-->
                            <div *ngIf="dataList" style="width: 100%;" class="accordion" id="accordion_my_laundryGroups_">
                                <app-laundry-group-list-item idName="my_laundryGroups_" *ngFor="let groupe of dataList.list" [setmaneStatusOptions]="maneStatusList" [setLaundryGroup]="groupe" (onQuitLaundryGroup)="onQuitLaundryGroup($event)" (onDeleteLaundryGroup)="onDeleteLaundryGroup($event)" (onUpdateLaundryGroup)="onUpdateLaundryGroup($event)" [setGroupMembersOptions]="friendsList"  ></app-laundry-group-list-item>
                            </div>
                        </div>

                        <div class="row" *ngIf="dataList"> <!--Pagination-->
                            <div class="col-4">
                                Elements par page
                                <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                    <option *ngFor="let e of elementsPerPage">{{e}}</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                                <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                                    <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                                </select>
                            </div>
                            <div class="col-4">
                                Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="tab-create">
                    <div class="row" style="text-align: center;">
                        <h4 style="width: 100%;">Créer un groupe</h4>
                    </div>
                    <div class="row" style="background-color: rgba(15, 15, 15, 0.15);">
                        <div style="width: 100%;" class="accordion" id="accordion_add_laundryGroup_">
                                <app-laundry-group-list-item idName="add_laundryGroup_" (addLaundryGroup)="onCreateLaundryGroup($event)" [setLaundryGroup]="addLaundryGroup" [setGroupMembersOptions]="friendsList"></app-laundry-group-list-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
