<div class="row" style="width: 100%;">
    <div class="col-6" style="width: 100%;">
        Possessions de l'utilisateur {{user.userName}} : 
    </div>
    <div class="col-6" style="width: 100%;">
        <app-possession-multi-dropdown (selectStateChanged)="onChangePossessions($event)" [setOptions]="possessionList" isFilter="false" [setValues]="possessionsThatBelongsToThisUser" placeHolder="Vêtements à mettre dans la manne" ></app-possession-multi-dropdown>
    </div>
</div>
