<div class="container">
    <div class="row" >
        <div class="col"></div>
        <div class="col-6">
            <div class="card text-center">
                <h5>Accueil</h5>
                <div class="card-body">
                    <p>Bienvenue sur le site d'administration de LOC Helper, l'application de gestion des vêtements, tenues et lessives!</p>
                    <p>Il n'est pas impossible que notre politique de gestion des données évolue avec le temps. Pensez à consulter <a routerLink="/dataPolicy" class="nav-link"  routerLinkActive="active" href="#">Cette page</a> pour rester au courant!</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>