<div class="col-12" >
    <div class="row">
        Tenues d'autres utilisateurs
    </div>
    <div class="row" *ngIf="publicCriteria === false, else publicFilter"> <!--Tenues de mes amis-->
        <div class="col-3">
            <app-mimic-dropdown [setOptions]="publicMimicList" [setValues]="publik" placeHolder="Afficher les tenues" isFilter="true" (selectStateChanged)="onChangePublicFilter($event)"></app-mimic-dropdown>
        </div>
        <div class="col-3">
            <app-owner-multi-dropdown [setOptions]="friendList" resetFlag="{{resetFlagFriend}}" placeHolder="Filtrer par ami" isFilter="true" (selectStateChanged)="onChangeFriendFilter($event)"></app-owner-multi-dropdown>
        </div>
        <div class="col-3">
            <mat-form-field>
                <mat-label>Filtrer par nom de tenue</mat-label>
                <input matInput [formControl]="outfitNameFilter" placeholder="ex: Tenue d'été">
                <mat-error *ngIf="outfitNameFilter.invalid">Des caractères non autorisés ont été détectés</mat-error>
            </mat-form-field>
        </div>
        <div class="col-3">
            <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)"></app-order-dropdown>
        </div>
        <div class="col-3">
            <button mat-raised-button color="primary" (click)="submitPrivateFilter()" style="width: 80%;" [disabled]="outfitNameFilter.invalid">Filtrer</button>
        </div>
        <div class="col-3">
            <button mat-raised-button color="warn" style="width: 80%;" (click)="resetFilter()">Réinitialiser</button>
        </div>

    </div>
    <ng-template #publicFilter><!--Tenues publiques-->
        <div class="row">
            <div class="col-3">
                <app-mimic-dropdown [setOptions]="publicMimicList" [setValues]="publik" placeHolder="Afficher les tenues" isFilter="true" (selectStateChanged)="onChangePublicFilter($event)"></app-mimic-dropdown>
            </div>
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Filtrer par nom de tenue</mat-label>
                    <input matInput [formControl]="outfitNameFilter" placeholder="ex: Tenue d'été">
                    <mat-error *ngIf="outfitNameFilter.invalid">Des caractères non autorisés ont été détectés</mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Filtrer par nom d'utilisateur'</mat-label>
                    <input matInput [formControl]="userNameFilter" placeholder="Le pseudonyme de l'utilisateur">
                    <mat-error *ngIf="userNameFilter.invalid">Des caractères non autorisés ont été détectés</mat-error>
                </mat-form-field>
            </div>
            <div class="col-3">
                <app-minimum-rating-dropdown placeHolder="note minimale" resetFlag={{resetFlagMinimumNote}} (selectStateChanged)="onChangeMinimumNoteFilter($event)"></app-minimum-rating-dropdown>
            </div>
            <div class="col-3">
                <app-clothe-multi-dropdown  placeHolder="Contient les vêtements suivants" [setOptions]="clotheList" resetFlag={{resetFlagClothe}} (selectStateChanged)="onChangeClotheFilter($event)"></app-clothe-multi-dropdown>
            </div>
            <div class="col-3">
                <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)"></app-order-dropdown>
            </div>
            <div class="col-3">
                <button mat-raised-button color="primary" (click)="submitPublicFilter()" style="width: 80%;" [disabled]="outfitNameFilter.invalid || userNameFilter.invalid ">Filtrer</button>
            </div>
            <div class="col-3">
                <button mat-raised-button color="warn" style="width: 80%;" (click)="resetFilter()">Réinitialiser</button>
            </div>
        </div>
        
    </ng-template>
    <div *ngIf="dataList">
        <div class="row" style="width: 100%;">
            <div *ngIf="dataList" class="accordion" id="accordion_outfits" style="width: 100%;"> 
                <div *ngFor="let outfit of dataList.list" >
                    <div class="card-header" attr.id="{{'heading_outfits_' + outfit.outfitId}}" style="width: 100%;">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_outfits_' + outfit.outfitId}}" aria-expanded="true" attr.aria-controls="{{'collapse_outfits_' + outfit.outfitId}}">
                                <div class="row">
                                    <div class="col-4">{{outfit.name}}</div>
                                </div>
                                <div class="col-4">
                                    par {{outfit.outfitCreator.userName}}
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div attr.id="{{'collapse_outfits_' + outfit.outfitId}}" class="collapse" attr.aria-labelledby="{{'heading_outfits_' + outfit.outfitId}}" attr.data-parent="#accordion_outfits" style="background-color: rgba(10, 10, 10, .10);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        Nom de la tenue: {{outfit.name}}
                                    </div>
                                    <div class="row">
                                        Créée par:  {{outfit.outfitCreator.userName}}
                                    </div>
                                    <div class="row">
                                        Description: {{outfit.description}}
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row">Vêtements composant la tenue: </div>
                                    <div class="row" *ngFor="let possession of outfit.possessionModels" style="background-color: rgba(10, 10, 10, .10); margin-bottom: 5px;" > <!--Infos vêtements de la tenue-->
                                        <div class="col-4"> Vêtement: <a href="{{possession.clotheModel.url}}" target="_blank">{{possession.clotheModel.name}}</a></div>
                                        <div class="col-8" style="display: flex;">
                                            <a *ngFor="let picture of possession.clotheModel.pictureModels" href="{{picture.url}}" target="_blank">
                                                <img src="{{picture.url}}" alt="{{picture.name}}" style="max-width:3em; height: 3em">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <button mat-raised-button color="primary" (click)="onShowComments(outfit)"  data-toggle="modal" data-target="#commentsModal" style="width: 100%;">Voir les commentaires</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                
            </div>
    </div>
    <div class="row" *ngIf="dataList"> <!--Pagination-->
        <div class="col-4">
            Elements par page
            <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                <option *ngFor="let e of elementsPerPage">{{e}}</option>
            </select>
        </div>
        <div class="col-4">
            <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
            <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
            </select>
        </div>
        <div class="col-4">
            Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
        </div>
    </div>
</div>