    <mat-form-field [formGroup]="form">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [(value)]="selected" (selectionChange)="onSelect($event)" >
            <mat-option *ngIf="isFilter === true" >Ne pas filtrer</mat-option>
            <mat-option *ngFor="let note of notes" value="{{note}}">{{note}}</mat-option>
        </mat-select>
    </mat-form-field>
