<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
                <div class="card text-center">
                    <h5>Profil</h5>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Mes informations</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pwd-tab" data-toggle="tab" href="#pwd" role="tab" aria-controls="pwd" >Changer de mot de passe</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete" >Supprimer mon compte</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
                                <h5>Modifier ses informations personnelles</h5>
                                <form [formGroup]="changePersonnalInfosForm" (ngSubmit)="onSubmitChangeInfosForm()">
                                    <div class="form-group">
                                        <label for="firstName">Prénom:</label>
                                        <input type="text" id="firstName" class="form-control" formControlName="firstName" matTooltip="Votre prénom (entre 2 et 30 caractères, obligatoire)." required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Nom de famille:</label>
                                        <input type="text" id="lastName" class="form-control" formControlName="lastName" matTooltip="Votre nom de famille (entre 2 et 30 caractères)." required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="mail">Adresse e-mail:</label>
                                        <input type="mail" id="mail" class="form-control" formControlName="mail" matTooltip="Votre adresse e-mail. Vous pouvez utiliser ce champ pour changer d'adresse e-mail!" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="metric">Unités préférées:</label>
                                        <select formControlName="metric" class="selectpicker">
                                            <option *ngFor="let  met of metrics" [ngValue]="met.valeur">
                                                {{met.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="chestSize">Taille du torse:</label>
                                        <select formControlName="chestSize" class="selectpicker">
                                            <option *ngFor="let size of chestSizeList.list" [ngValue]="size.size">
                                                {{size.size}}
                                            </option>
                                        </select>
                                       <!-- <input type="text" id="chestSize" class="form-control" formControlName="chestSize" matTooltip="La taille de votre torse (Format style L, XL, S, XXS ou 3XS,...)" />  --> 
                                    </div>
                                    <div class="form-group">
                                        <label for="footSize">Pointure:</label>
                                        <select formControlName="footSize" class="selectpicker" matTooltip="Indiquez du combien vous chaussez (ex: 42, 38.5,...)">
                                            <option *ngFor="let size of footSizeList.list" [ngValue]="size.size">
                                                {{size.size}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="bottomSize">Taille des jambes:</label>
                                        <select formControlName="bottomSize" class="selectpicker" matTooltip="Indiquez quelle taille vous sied le mieux en termes de pantalons, robes ou autres">
                                            <option *ngFor="let size of bottomSizeList.list" [ngValue]="size.size">
                                                {{size.size}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sizeUnit">Type de taille utilisée:</label>
                                        <select formControlName="sizeUnit" class="selectpicker">
                                            <option *ngFor="let unit of sizeUnits" [ngValue]="unit.valeur">
                                                {{unit.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sex">Sexe:</label><br>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="sexRadioHomme"> Homme </label>
                                            <input type="radio" name="sex" id="sexRadioHomme" [checked]="changePersonnalInfosForm.get('sex').value === false" class="form-check-input" formControlName="sex" value=false />
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="sexRadioFemme"> Femme </label> 
                                            <input type="radio" name="sex" id="sexRadioFemme" [checked]="changePersonnalInfosForm.get('sex').value === true" class="form-check-input" formControlName="sex" value=true />
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="sexRadioNC"> Ne souhaite pas communiquer </label>
                                            <input type="radio" name="sex" id="sexRadioNC" [checked]="changePersonnalInfosForm.get('sex').value === null" class="form-check-input" formControlName="sex" value=null /> 
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" [disabled]="changePersonnalInfosForm.invalid">Modifier ses informations personnelles</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pwd" role="tabpanel" aria-labelledby="pwd-tab">
                                <h5>Modifier son mot de passe</h5>
                                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePasswordForm()">
                                    <div class="form-group">
                                        <label for="oldPassword">Ancien mot de passe:</label>
                                        <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" matTooltip="Entrez le mot de passe que vous utilisiez jusqu'ici pour vous connecter." required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword">Nouveau mot de passe:</label>
                                        <input type="password" id="newPassword" class="form-control" formControlName="newPassword" matTooltip="Entrez votre nouveau mot de passe (doit faire entre 6 et 50 caractères)." required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPasswordConfirmation">Confirmez le nouveau mot de passe:</label>
                                        <input type="password" id="newPasswordConfirmation" class="form-control" formControlName="newPasswordConfirmation" matTooltip="Entrez à nouveau votre nouveau mot de passe (toujours entre 6 et 50 caractères, doit être le même que le mot de passe rentré dans le champ nouveau mot de passe)." required/>
                                    </div>
                                    <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Changer de mot de passe</button>
                                </form>
                                
                            </div>
                            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">
                                <h5>Supprimer son compte</h5>
                                <p>Cliquez sur <button class="btn btn-danger" (click)="onDeleteAccount()"> ce bouton </button> pour supprimer votre compte</p>
                            </div>
                          </div>
                    </div>
                </div>
                
        </div>
        <div class="col"></div>
    </div>
</div>