<div *ngIf="dataList">
    <mat-form-field [formGroup]="form"  *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [compareWith]="compareObjects" [required]="mustBeSet" (selectionChange)="onSelect($event)" >
            <mat-option *ngIf="isFilter === true">Ne pas filtrer</mat-option>
            <mat-option *ngFor="let status of dataList.list" [value]="status">{{status.status}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.invalid">Vous devez spécifier un statut</mat-error>
    </mat-form-field>
</div>