<div *ngIf="dataList">
    <mat-form-field [formGroup]="form"  *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [compareWith]="compareObjects" (selectionChange)="onSelect($event)" >
            <mat-option *ngIf="isFilter === true">Ne pas filtrer</mat-option>
            <mat-option *ngFor="let mimic of dataList.list" [value]="mimic">{{mimic.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
