<div *ngIf="dataList">
    <mat-form-field [formGroup]="form" *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm"  [compareWith]="compareObjects" (selectionChange)="onSelect($event)" multiple >
            <mat-optgroup *ngFor="let cat of categories" [label] = "cat">
                <ng-container *ngFor="let size of dataList.list">
                    <mat-option *ngIf="size.category === cat" [value]="size">{{size.size}}</mat-option>
                </ng-container>
            </mat-optgroup>
            <!-- <mat-option *ngFor="let size of dataList.list" value="{{size.id}}">{{size.size}}</mat-option> -->
        </mat-select>
        
    </mat-form-field>
</div>