.odd{
    background-color: rgb(245, 244, 243);
    border-radius: 7px;
}
.even{
    background-color: rgba(192, 192, 192, 0.918);
    border-radius: 2px;
}
.card{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
}
.tableRow{
    padding-top: .3%;
    padding-bottom: .3%;
}
.underTable{
    background-color: chocolate;
    margin-top: 1%;
}
.bi-arrow-up:hover{
    cursor: pointer;
    background-color: rgb(205, 205, 223);
    border-radius: 30%;
}