 <div *ngIf="clotheModel" class="card">
    <div class="card-header" attr.id="{{'heading_' + clotheModel.clotheId}}">
        <h2 class="mb-0">
            
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_' + clotheModel.clotheId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' + clotheModel.clotheId}}">
                n°{{clotheModel.clotheId}} : {{clotheModel.name}} par {{clotheModel.brandModel.name}}
                <ng-container *ngFor="let picture of clotheModel.pictureModels">
                    <img alt="{{picture.name}}" src="{{picture.url}}" style="width:5em; max-height:5em; border-radius: 4px; margin-left: 2px; margin-right: 2px;">
                </ng-container>
            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + clotheModel.clotheId}}" class="collapse" attr.aria-labelledby="{{'heading_' + clotheModel.clotheId}}" data-parent="#accordionClothes">
        <div class="card-body">
            <div class="row">
                <div class="col-6"> <!--Partie informations (selects/champs) -->
                    <form (ngSubmit)="onSubmitEditClothe()" [formGroup]="editClotheForm"> <!--Formulaire qui va contenir les infors modifiables-->
                        <div *ngIf="hasAdminRole, else clotheNameIfNotAdmin" class="row"><!-- ID et Nom-->
                            <mat-form-field class="col-6">
                                <mat-label>ID</mat-label>
                                <input matInput readonly formControlName="clotheId" value="{{clotheModel.clotheId}}">
                            </mat-form-field>
                            <mat-form-field class="col-6">
                                <mat-label>Nom du vêtement</mat-label>
                                <input matInput formControlName="name" value="{{clotheModel.name}}">
                                <mat-error *ngIf="editClotheForm.controls['name'].invalid">Nom incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        <ng-template #clotheNameIfNotAdmin>
                            <mat-form-field class="col-6">
                                <mat-label>ID</mat-label>
                                <input matInput readonly formControlName="clotheId" value="{{clotheModel.clotheId}}">
                            </mat-form-field>
                            <mat-form-field class="col-6">
                                <mat-label>Nom du vêtement</mat-label>
                                <input readonly matInput formControlName="name" value="{{clotheModel.name}}">
                                <mat-error *ngIf="editClotheForm.controls['name'].invalid">Nom incorrect</mat-error>
                            </mat-form-field>
                        </ng-template>
                        <div class="row"> <!--Url et Type de vêtement-->
                            <mat-form-field class="col-6" *ngIf="hasAdminRole, else urlIfNotAdmin">
                                <mat-label>url</mat-label>
                                <input matInput formControlName="url" value="{{clotheModel.url}}">
                                <mat-error *ngIf="editClotheForm.controls['url'].invalid">url invalide</mat-error>
                            </mat-form-field>
                            <ng-template #urlIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>url</mat-label>
                                    <input readonly matInput formControlName="url" value="{{clotheModel.url}}">
                                    <mat-error *ngIf="editClotheForm.controls['url'].invalid">url invalide</mat-error>
                                </mat-form-field>
                            </ng-template>
                            <app-clothe-type-multi-dropdown class="col-6" [setOptions]="clotheTypeListModel" [setCategories]="clotheTypeCategories" (selectStateChanged)="onChangeClotheTypes($event)" *ngIf="hasAdminRole, else clotheTypeIfNotAdmin" [setValues]="clotheModel.clotheTypeModels" isFilter="false" placeHolder="Types"></app-clothe-type-multi-dropdown>
                            <ng-template #clotheTypeIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label> Type de vêtement</mat-label>
                                    <mat-chip-list>
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let type of clotheModel.clotheTypeModels" matTooltip="{{type.category}}">{{type.clotheType}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template> 
                        </div>
                        <div class="row"> <!--Marque et fournisseur -->
                            <app-brand-dropdown class="col-6" [setOptions]="brandListModel"  (selectStateChanged)="onChangeBrand($event)" *ngIf="hasAdminRole, else brandIfNotAdmin" [setValues]="clotheModel.brandModel" mustBeSet="true" isFilter="false" placeHolder="Marque"></app-brand-dropdown>
                            <ng-template #brandIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Marque</mat-label>
                                    <input readonly matInput value="{{clotheModel.brandModel.name}}">
                                </mat-form-field>
                            </ng-template>

                            <app-provider-dropdown class="col-6" [setOptions]="providerListModel"  (selectStateChanged)="onChangeProvider($event)" *ngIf="hasAdminRole, else providerIfNotAdmin" [setValues]="clotheModel.providerModel" [mustBeSet]="true" isFilter="false" placeHolder="Fournisseur"></app-provider-dropdown>
                            <ng-template #providerIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Fournisseur</mat-label>
                                    <input matInput readonly value="{{clotheModel.providerModel.provider}}">
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <div class="row"> <!-- Sexe et saison-->
                            <app-sex-dropdown class="col-6" [setOptions]="sexListModel"  (selectStateChanged)="onChangeSex($event)" *ngIf="hasAdminRole, else sexIfNotAdmin" [setValues]="clotheModel.sexModel" [mustBeSet]="true" isFilter="false" placeHolder="Sexe"></app-sex-dropdown>
                            <ng-template #sexIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Sexe</mat-label>
                                    <input  readonly matInput value="{{clotheModel.sexModel.sex}}">
                                </mat-form-field>
                            </ng-template>

                            <app-season-dropdown class="col-6" [setOptions]="seasonListModel"  (selectStateChanged)="onChangeSeason($event)" *ngIf="hasAdminRole, else seasonIfNotAdmin" [setValues]="clotheModel.seasonModel" [mustBeSet]="true" isFilter="false" placeHolder="Saison"></app-season-dropdown>
                            <ng-template #seasonIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Saison</mat-label>
                                    <input readonly matInput value="{{clotheModel.seasonModel.season}}">
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <div class="row"> <!-- Matière et taille-->
                            <app-material-multi-dropdown class="col-6" [setOptions]="materialListModel"   (selectStateChanged)="onChangeMaterial($event)" *ngIf="hasAdminRole, else materialIfNotAdmin" [setValues]="clotheModel.materialModels" isFilter="false" placeHolder="Matières"></app-material-multi-dropdown>
                            <ng-template #materialIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Matières</mat-label>
                                    <mat-chip-list aria-label="matières">
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let material of clotheModel.materialModels">{{material.name}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>

                            <app-size-multi-dropdown [setOptions]="sizeListModel" [setCategories]="sizeCategories"  class="col-6" (selectStateChanged)="onChangeSize($event)" *ngIf="hasAdminRole, else sizeIfNotAdmin" [setValues]="clotheModel.sizeModels" isFilter="false" placeHolder="Tailles"></app-size-multi-dropdown>
                            <ng-template #sizeIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Tailles</mat-label>
                                    <mat-chip-list aria-label="Tailles">
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let size of clotheModel.sizeModels" matTooltip="{{'Catégorie: '+ size.category}}">{{size.size}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <div class="row"> <!--Thèmes et styles-->
                            <app-theme-multi-dropdown class="col-6" [setOptions]="themeListModel" (selectStateChanged)="onChangeTheme($event)" *ngIf="hasAdminRole, else themeIfNotAdmin" [setValues]="clotheModel.themeModels" isFilter="false" placeHolder="Thèmes"></app-theme-multi-dropdown>
                            <ng-template #themeIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Thèmes</mat-label>
                                    <mat-chip-list aria-label="Thèmes">
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let theme of clotheModel.themeModels">{{theme.theme}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>

                            <app-style-multi-dropdown class="col-6" [setOptions]="styleListModel" (selectStateChanged)="onChangeStyle($event)" *ngIf="hasAdminRole, else styleIfNotAdmin" [setValues]="clotheModel.styleModels" isFilter="false" placeHolder="Styles"></app-style-multi-dropdown>
                            <ng-template #styleIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Styles</mat-label>
                                    <mat-chip-list>
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let style of clotheModel.styleModels">{{style.style}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <div class="row"> <!--Couleur et instructions de maintenance-->
                            <app-color-multi-dropdown class="col-6" [setOptions]="colorListModel" (selectStateChanged)="onChangeColor($event)" *ngIf="hasAdminRole, else colorIfNotAdmin" [setValues]="clotheModel.colorModels" isFilter="false" placeHolder="Couleurs"></app-color-multi-dropdown>
                            <ng-template #colorIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Couleurs</mat-label>
                                    <mat-chip-list>
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let color of clotheModel.colorModels">{{color.color}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>
                            <app-maintenance-instruction-multi-dropdown [setOptions]="maintenanceInstructionListModel"  class="col-6" (selectStateChanged)="onChangeMaintenanceInstructions($event)" *ngIf="hasAdminRole, else maintenanceInstructionIfNotAdmin" [setValues]="clotheModel.maintenanceInstructionModels" isFilter="false" placeHolder="instructions d'entretien"></app-maintenance-instruction-multi-dropdown>
                            <ng-template #maintenanceInstructionIfNotAdmin>
                                <mat-form-field class="col-6">
                                    <mat-label>Instructions de maintenance:</mat-label>
                                    <mat-chip-list aria-label="instructions de maintenance">
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let instruction of clotheModel.maintenanceInstructionModels" matTooltip="{{instruction.instruction}}" >{{instruction.name}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>
                            <!--Reste la place pour ajouter la note moyenne (éventuellement)-->
                        </div>
                        <div class="row"  *ngIf="hasAdminRole"> <!--Boutons Modifier et supprimer-->
                            
                            <button mat-raised-button color="primary"  style="padding-left: 5px; padding-right: 5px;" class="col-6" type="submit" [disabled]="editClotheForm.invalid || isNotCompleteEnough === true">Envoyer les modifications</button>
                            <button mat-raised-button color="warn" (click)="onDeleteClothe()" style="padding-left: 5px; padding-right: 5px;" class="col-6" type="button">Supprimer le vêtement</button>
                            
                        </div>
                        
                    </form>
                </div>
                <div class="col-6"> <!--La partie photos-->
                    <div class="row">
                        Photos
                    </div>
                    <app-picture-displayer (delPicture)="onDeletePicture($event)" (upPicture)="onUpdatePicture($event)" *ngFor="let picture of clotheModel.pictureModels" [setPictureModel]="picture" [hasAdminRole]="hasAdminRole" ></app-picture-displayer>
                    <div class="row" *ngIf="hasAdminRole">
                        <button mat-raised-button color="primary" (click)="onAddPicture()">Nouvelle photo</button>
                    </div>
                    <div *ngIf="isNewCloth === false" class="row"><!--Commentaires et ajouter aux possessions-->
                        <button mat-raised-button  class="col-6" style="padding-left: 5px; padding-right: 5px;" type="button" data-toggle="modal" data-target="#commentsModal" (click)="onGoToComments()">Voir les comentaires</button>
                        <button mat-raised-button  class="col-6" style="padding-left: 5px; padding-right: 5px;" type="button" (click)="onAddToPossessions()">Ajouter aux possessions</button>
                    </div>
                    <div style="background-color:rgba(122, 118, 111, 0.384); border-radius: 5px;" >
                        <!--Emplacement pour ajouter une possession-->
                        <app-add-to-possession-frame (userClickedOnCancel)="onCancelAddToPossession($event)" (submitPossessions)="onUserSubmitAddPossessions($event)" [numberOfFrames]="numberOfPossessionFrames" *ngIf="addToPossessionsFlag === true" [setAvailableSizes]="clotheModel.sizeModels"></app-add-to-possession-frame>
                    </div>
                    
                        
                                 
                </div>
                
            </div>
        </div>
    </div>
</div>

