<div *ngFor="let control of formArray.controls, index as i" class="row"  >
    
    
    <form (ngSubmit)="onSubmitAddPossessions()" [formGroup]="formArray.controls[i]" class="col-12">
       
        <!--Une ligne = un type de possession-->
        <div class="row">
           <mat-form-field [formGroup]="formArray.controls[i]" style="margin-bottom: 5%;" class="col-5">
               <mat-label>Quantité</mat-label>
               <mat-select formControlName="quantity" required>
                   <mat-option *ngFor="let quantity of quantities" [value]="quantity">{{quantity}}</mat-option>
               </mat-select>
               <mat-hint>Le nombre de possessions dans cette taille</mat-hint>
               <mat-error *ngIf="formArray.controls[i].controls['quantity'].invalid"></mat-error>
           </mat-form-field>
           
           <mat-form-field  class="col-4" style="margin-bottom: 5%;">
               <mat-label>Taille</mat-label>
               <mat-select formControlName="size" required [compareWith]="compareObjects" >
                   <mat-option *ngFor="let size of availableSizes" [value]="size">{{size.size}}</mat-option>
               </mat-select>
               <mat-hint>La taille de cette/ces possession(s)</mat-hint>
              <mat-error *ngIf="formArray.controls[i].controls['size'].invalid">Taille non valide</mat-error>
           </mat-form-field>
           <div class="col-1">
            <button mat-raised-button type="button" color="warn" (click)="onDeleteRow(i)" >Supprimer</button>
           </div>
           
        </div>
    </form>
</div>
<div class="row" style="margin-top: 5%;">
    <div class="col-1"></div>
    <button class="col-4" mat-raised-button type="button" (click)="onSubmitAddPossessions()" [disabled]="formArray.invalid">Valider</button>
    <div class="col-2"></div>
    <button class="col-4" mat-raised-button type="button" color="warn" (click)="onCancelAddPossessions()">Annuler</button>
    <div class="col-1"></div>
</div>
    