<div *ngIf="isLoggedIn, else elseBlock" >
    <div class="container">
        <h2>Vous êtes déjà connecté.</h2>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card w-80 text-center">
                    <h5>Connexion</h5>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="form-group">
                                <label for="userName">Pseudo:</label>
                                <input type="text" id="userName" class="form-control" formControlName="userName" required/>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" class="form-control" formControlName="password">
                            </div>
                            <button type="submit" class=" btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Mot de passe oublié? <a routerLink="/recoverAccount">Cliquez ici.</a>
                        Pas encore de compte? <a routerLink="/signup">Cliquez ici.</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

          
    </div>
    
</ng-template>