<div *ngIf="orders">
    <mat-form-field [formGroup]="form">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select [(ngModel)]="selectedValue" formControlName="selectForm" (selectionChange)="onSelect($event)" >
            <mat-option>Tri par défaut</mat-option>
            <mat-option *ngFor="let order of orders.list" [value]="order">{{order.displayName}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>