<div *ngIf="laundryManeModel">
    <div class="card-header" attr.id="{{'heading_laundry_manes_'+ laundryManeModel.laundryManeId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_laundry_manes_' + laundryManeModel.laundryManeId}}" aria-expanded="true" attr.aria-controls="{{'collapse_laundry_manes_'  + laundryManeModel.laundryManeId}}">
                <div class="row" *ngIf="laundryManeModel.laundryManeId > 0, else elseHeader">
                    <div class="col-4">
                        {{laundryManeModel.name}}
                    </div>
                    <div class="col-4">
                       Début du cycle : {{laundryManeModel.startDate | date:'d MMMM y - HH:mm'}}
                    </div>
                    <div class="col-4">
                        Statut: {{laundryManeModel.maneStatusModel.status}}
                    </div>
                </div>
                <ng-template #elseHeader>
                    <div class="row">
                        Nouvelle manne à linge
                    </div>
                </ng-template>
            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_laundry_manes_' + laundryManeModel.laundryManeId}}" class="collapse" attr.aria-labelledby="{{'heading_laundry_manes_' + laundryManeModel.laundryManeId}}" attr.data-parent="accordion_laundry_manes" style="background-color: rgba(10, 10, 10, .10);">
        <div class="row">
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Début du cycle</mat-label>
                    <input [formControl]="startDate" matInput  type="datetime-local"  >
                </mat-form-field>
            </div>
            <div class="col-6">
                <app-mane-status-dropdown (selectStateChanged)="onChangeManeStatus($event)" [setOptions]="maneStatusList" [setValue]="laundryManeModel.maneStatusModel" isFilter="false" mustBeSet="true" placeHolder="Statut de la manne"></app-mane-status-dropdown>
            </div>
        </div>
        <app-mane-group-member-row *ngFor="let user of laundryGroupModel.laundryGroupMembers" style="width: 100%;" (changePossessions)="onChangePossessions($event)" [setUser]="user" [setPossessions]="laundryManeModel.possessionModels"></app-mane-group-member-row>
        <div class="row" style="width: 90%; margin-left: 5%; margin-top: 1%; margin-bottom: 1%;">
            <div class="col-12" style="border-radius: 4px; background-color: rgba(10, 10, 10, .10);">
                <div class="row" >
                    List des vêtements présents dans la manne:
                </div>
                <div class="row" *ngFor="let possession of laundryManeModel.possessionModels" style="margin-top: 1%; margin-bottom: .5%;">
                    <div class="col-3">
                        <a href="{{possession.clotheModel.url}}" target="_blank">
                            {{possession.clotheModel.name}}
                        </a>
                    </div>
                    <div class="col-3">
                        Porté par {{possession.user}}
                    </div>
                    <div class="col-3">

                        Etat(s):<p *ngFor="let status of possession.statuses" >
                            {{status.possessionStatus}} 
                        </p>
                    </div>
                    <div class="col-3">
                        <a *ngFor="let picture of possession.clotheModel.pictureModels" href="{{picture.url}}" target="_blank">
                            <img src="{{picture.url}}" alt="{{picture.name}}" style="max-height: 4em; width: 25%;">
                        </a>

                    </div>
                </div>
                <div class="row" *ngIf="precautions.length > 0" style="background-color: rgba(194, 28, 28, 0.24);"><!--Précautions?-->
                    <div class="col-12">Précautions à prendre durant cette lessive:</div>
                    <div class="col-12" *ngFor="let precaution of precautions">
                        {{precaution.instruction}}
                    </div>

                </div>
                
            </div>
        </div>
        <div class="row"> <!--Enregistrer et supprimer-->
            <div class="col-6">
                <button mat-raised-button (click)="onValidateChanges()" color="primary" style="width: 80%;" [disabled]="!laundryManeModel.maneStatusModel">Enregistrer modifications</button>
            </div>
            <div class="col-6">
                <button mat-raised-button (click)="deleteLaundrymane()" color="warn" style="width: 80%;" >Supprimer la manne</button>
            </div>
        </div>
    </div>
</div>