<div *ngIf="outfitModel">
    <div class="card-header" attr.id="{{'heading_' + idName + outfitModel.outfitId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_'+ idName + outfitModel.outfitId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' + idName + outfitModel.outfitId}}" [class.greenBackground]="isReady === true" [class.redBackground]="isReady === false">
               <div class="row">
                   <div class="col-4">
                    Tenue {{outfitModel.name}}
                   </div>
                   <div class="col-4" *ngIf="isReady === true, else justeEnDessous">
                       Prête à être portée
                   </div>
                   <ng-template #justeEnDessous>
                       <div class="col-4">
                           N'est pas prête à être portée
                       </div>
                   </ng-template>
                   <div class="col-4">
                       Prévue pour le {{outfitModel.dueDate | date:'d MMMM y' }}
                   </div>
               </div>

            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + idName + outfitModel.outfitId}}" class="collapse" attr.aria-labelledby="{{'heading_' + idName + outfitModel.outfitId}}" attr.data-parent="{{'#accordion_' + idName}}" style="background-color: rgba(10, 10, 10, .10);">
        <div class="card-body" [formGroup]="editOutfitForm">
            <div class="row">
                <div class="col-4"> 
                    <div class="row">
                        <div class="col-12"> <!--Champ formulaire nom tenu-->
                            <mat-form-field>
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="name" value="{{outfitModel.name}}">
                                <mat-error *ngIf="editOutfitForm.controls['name'].invalid">Nom irrecevable</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"> <!-- champ suivant (description)-->
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" value="{{outfitModel.description}}" placeholder="ex: Tenue prévue pour l'enterrement de vie de jeune fille de Thérèse"></textarea>
                                <mat-error *ngIf="editOutfitForm.controls['description'].invalid">Nom irrecevable</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill">
                            <mat-label>Tenue prévue pour</mat-label>
                            <input matInput formControlName="dueDate"  [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Tenue Publique?</mat-label>
                                <mat-select formControlName="publik"  required (selectionChange)="onChangePublic($event)" >
                                    <mat-option *ngFor="let valeur of trueOrFalse" [value]="valeur">{{valeur | publikPipe}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="editOutfitForm.controls['publik'].invalid">Vous devez indiquer la portée de la tenue</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Favorite?</mat-label>
                                <mat-select formControlName="favorite"  required (selectionChange)="onChangeFavorite($event)" >
                                    <mat-option *ngFor="let valeur of trueOrFalse" [value]="valeur">{{valeur | favorite}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="editOutfitForm.controls['publik'].invalid">Vous devez indiquer si la tenue est une de vos favorites ou non</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
               
                </div>
                <div class="col-3"> <!--Liste possessions incluses dans tenue-->
                    <div class="row">
                        <p>Vêtements de cette tenue</p>
                    </div>
                    <div class="row">
                        <app-possession-multi-dropdown (selectStateChanged)="onChangePossessionsInOutfit($event)"  isFilter="false" placeHolder="Vêtement"  [setValues]="outfitModel.possessionModels" [setOptions]="possessionListModel"></app-possession-multi-dropdown>
                    </div>
                </div>
                <div class="col-5" >
                    

                    <div class="row">
                        <p style="width: 100%; text-align: center">Vêtements dans la tenue</p>
                    </div>
                    <div class="row"  *ngFor="let possession of outfitModel.possessionModels" style="background-color: rgba(10, 10, 10, .10); margin-bottom: 5px; width: 100%;">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4"> 
                                    <a href="{{possession.clotheModel.url}}">{{possession.clotheModel.name}}</a>
                                </div>
                                <div class="col-4" style="display: flex;">
                                    <div *ngFor="let picture of possession.clotheModel.pictureModels">
                                        <a href="{{picture.url}}"><img src="{{picture.url}}" alt="{{picture.name}}" style="max-width:3em; height: 3em"> </a>
                                    </div>
                                </div>
                                <div class="col-2" >
                                    <button mat-raised-button color="warn" type="button" style="margin: auto" (click)="onRemovePossessionFromOutfit(possession)">Enlever de la tenue</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" style="display: flex;">
                                    <div class="col-3">Statuts:</div>
                                    <div class="col-3" *ngFor="let status of possession.statuses" [class.greenText]="status.possessionStatusId === 2" > {{status.possessionStatus + ' '}} </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>



                    <div class="row" style="margin-bottom: 5px;">
                        <div style="width:100%; text-align: center" *ngIf="isNew === false">
                            <button mat-raised-button color="primary" type="button"  style="margin: auto;" (click)="onSubmitEditOutfit()" [disabled]="editOutfitForm.invalid">Sauvegarder les modifications</button>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;" *ngIf="isNew === false">
                        <div style="width:100%; text-align: center" >
                            <button mat-raised-button color="warn" type="button" style="margin: auto;" (click)="onSubmitDeleteOutfit()" >Supprimer la tenue</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="isNew === false" style="margin-bottom: 5px;">
                        <div style="width:100%; text-align: center">
                            <button mat-raised-button  type="button" style="margin: auto;" (click)="onSubmitShowComments()" type="button" data-toggle="modal" data-target="#commentsModal" >Afficher les commentaires</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="isNew === true" style="margin-bottom: 5px;">
                        <div style="width:100%; text-align: center">
                            <button mat-raised-button  type="button" style="margin: auto;" (click)="onResetModel()" >Réinitialiser</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="isNew === true" style="margin-bottom: 5px;">
                        <div style="width:100%; text-align: center">
                            <button mat-raised-button color="primary"  type="button" style="margin: auto;" *ngIf="isNew === true" (click)="onSubmitAddOutfit()" [disabled]="editOutfitForm.invalid" >Valider la création</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>