<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    Comment sont utilisées vos données
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorsque vous vous connectez à LOC-Helper, certaines informations sont enregistrées sur votre navigateur afin que vous puissiez vous reconnecter automatiquement au site même après avoir fermé l'onglet, le navigateur, ou redémarré votre ordinateur.
                    </p>
                    <p class="card-text">
                        Aussi, lorsque vous créez un compte, les données que vous nous envoyez (pseudo, adresse e-mail, mot de passe,... Mais aussi les tenues, vêtements et autres informations similaires) sont enregistrées dans notre base de données. Veuillez noter que pour votre sécurité, les mots de passes sont cryptés. 
                    </p>
                    <p class="card-text">
                        De plus, des cookies fonctionnels peuvent être également enregistrés sur votre navigateur afin de permettre à l'application de fonctionner correctement. Ce ne sont en aucun cas des cookies publicitaires, aucune des données que vous partagez avec ce site n'est échangée/revenue/livrée. 
                    </p>
                    <p class="card-text">
                        Si tout se passe bien, il se peut que vous croisiez des images de vêtements sur ce site. Ces dernières appartiennent à EMP, dont la branche Française a eu la gentillesse de me permettre d'en utiliser quelques unes afin d'illustrer un peu mon site.
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <p>
                        Si vous avez des questions, vous pouvez me contacter à l'adresse franckermit@gmail.com 
                    </p>
                    <p>
                        Cordialement, Valérian Cuypers, développeur du site.
                    </p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>