<div *ngIf="dataList">
    <mat-form-field [formGroup]="form" *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [compareWith]="compareObjects" (selectionChange)="onSelect($event)" multiple>
            <mat-option *ngFor="let user of dataList.list" [value]="user">{{user.userName}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
