<div class="row">
    <div class="col-12">
        <div class="card-header text-center">
            <h5>Relations</h5>
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des amis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-on-hold" data-toggle="tab" href="#onHold" role="tab" aria-controls="onHold">Mes demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-to-accept" data-toggle="tab" href="#toAccept" role="tab" aria-controls="toAccept">Demandes reçues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-add" data-toggle="tab" href="#add" role="tab" aria-controls="add">Ajouter un ami</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="tabContent">


                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                    <div class="row">
                        <p>Liste des amis</p>
                    </div>
                    <div class="row"><!--Filtre-->
                        <div class="col-3">
                            <!--Champ pour le nom + label-->
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Filtrer par nom</mat-label>
                                  <input matInput [formControl]="friendNameFilter"
                                         placeholder="Le pseudonyme a chercher">
                                  <mat-error *ngIf="friendNameFilter.invalid">
                                    Impossible d'effectuer la recherche avec ce nom
                                  </mat-error>
                                </mat-form-field>
                              </form>
                        </div>
                        <div class="col-3">
                            <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)" ></app-order-dropdown>
                        </div>
                        <div class="col-3">
                            <button mat-raised-button color="primary"   (click)="submitFilter()" [disabled]="friendNameFilter.invalid">Appliquer</button>
                        </div>
                        <div class="col-3">
                            <button mat-raised-button color="warn"  style="margin:auto;" (click)="resetFilter()">Réinitialiser</button>
                        </div>
                    </div>
                    <div class="accordion" id="accordionFriends"> <!--Liste-->
                        <ng-container *ngIf="dataList">
                            <app-friend-list-item *ngFor="let friend of dataList.list" (onDeleteFriend)="onDeleteEstablishedFriendship($event)" [setFriend]="friend" (onShowWishList)="onShowWishList($event)" (onShowPossessions)="onShowPossessions($event)" (onShowOutfits)="onShowOutfits($event)"></app-friend-list-item>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Elements par page
                            <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                <option *ngFor="let e of elementsPerPage">{{e}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                            <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                                <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade " id="onHold" role="tabpanel" aria-labelledby="tab-on-hold">
                    <div class="row" >
                        <h4 style="width: 100%; text-align: center;">Mes demandes en attente de validation</h4>
                    </div>
                    <div class="row">
                        <div *ngIf="onHold.list, else elseOnHold" style="width: 100%;">
                            <div class="row" *ngFor="let friend of onHold.list">
                                    <p class="col-3" style=" text-align: center; width: 25%;">Pseudo : {{friend.userTwo.userName}}</p>
                                    <p class="col-3"  style="width: 100%; text-align: center;">Prénom : {{friend.userTwo.firstName}}</p>
                                    <p class="col-3" style="width: 100%; text-align: center;">Nom de famille : {{friend.userTwo.lastName}}</p>
                                    <div class="col-3">
                                        <button mat-raised-button color="warn" (click)="onCancelFriendshipRequest(friend)" style="width: 80%">Annuler la demande</button>
                                    </div>
                                    
                            </div>
                        </div>
                        <ng-template #elseOnHold>
                            <div style="width: 100%;">
                                <div class="row">
                                    <h5>Vous n'avez pas de demandes en attente.</h5>
                                </div>
                            </div>
                        </ng-template>                        
                    </div>
                </div>


                <div class="tab-pane fade " id="toAccept" role="tabpanel" aria-labelledby="tab-to-accept">
                    <div class="row">
                        <h4 style="width: 100%; text-align:center;">Demandes reçues</h4>
                    </div>
                    <div class="row">
                        <div *ngIf="toConfirm.list, else elseToConfirm" style="width: 100%;">
                            <div class="row" *ngFor="let friend of toConfirm.list">
                                <p class="col-2" style="text-align: center">Pseudo : {{friend.userOne.userName}}</p>
                                <p class="col-2"  style="text-align: center;">Prénom : {{friend.userOne.firstName}}</p>
                                <p class="col-2" style="text-align: center;">Nom de famille : {{friend.userOne.lastName}}</p>
                                <div class="col-3">
                                    <button mat-raised-button color="primary" (click)="onAcceptFriendshipRequest(friend)" style="width: 80%">Accepter la demande</button>
                                </div>
                                <div class="col-3">
                                    <button mat-raised-button color="warn" (click)="onRejectFriendshipRequest(friend)" style="width: 80%">Refuser la demande</button>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseToConfirm>
                            <div class="row" style="width: 100%;">
                                <h5>Personne ne vous a envoyé de demande d'ajout :'(</h5>>
                            </div>
                        </ng-template>
                    </div>
                </div>


                <div class="tab-pane fade " id="add" role="tabpanel" aria-labelledby="tab-add">
                    <div class="row">
                        <h4 style="width: 100%; text-align: center;"> Ajouter un ami</h4>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-4"> <!--Input pseudo-->
                            <form class="addFriendForm">
                                <mat-form-field>
                                    <mat-hint>Pseudonyme de votre ami</mat-hint>
                                    <input matInput [formControl]="addFriendField" placeholder="pseudonyme de votre ami">
                                    <mat-error *ngIf="addFriendField.invalid">Il est impossible que votre ami porte ce pseudonyme</mat-error>
                                </mat-form-field>                    
                            </form>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button color="primary" [disabled]="addFriendField.invalid || addFriendField.value == '' " (click)="onSendFriendshipRequest()">Envoyer la demande</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>