<div class="row">
    <div class="col-12">
        <div class="card-header text-center">
            <h5>Tenues</h5>
            <ul class="nav nav-tabs" id="tabOutfits" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Mes tenues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-create" data-toggle="tab" href="#create" role="tab" aria-controls="create">Créer une tenue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-public-list" data-toggle="tab" href="#publicList" role="tab" aria-controls="publicList">Voir les tenues publiques</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                    <div class="row" style="text-align: center;">
                        <h4 style="width: 100%;">Mes tenues</h4>
                    </div>
                    <div class="row" style="background-color: rgba(15, 15, 15, 0.15);">
                        <div class="col-12">
                            <div class="row">
                                <h5>Filtrer</h5>
                            </div>
                            <div class="row"> <!--Filtre-->
                                <div class="col-3">
                                    <app-outfit-multi-dropdown placeHolder="Filtrer par tenue" resetFlag="{{resetFlagOutfit}}" [setOptions]="outfitList" (seletStateChanged)="onChangeOutfitFilter($event)"></app-outfit-multi-dropdown>
                                </div>
                                <div class="col-3">
                                    <app-clothe-multi-dropdown placeHolder="Filtrer par vêtement" resetFlag="{{resetFlagClothe}}" [setOptions]="clotheList" (selectStateChanged)="onChangeClotheFilter($event)" ></app-clothe-multi-dropdown>
                                </div>
                                <div class="col-3">
                                    <app-mimic-dropdown placeHolder="Filtrer par portée" resetFlag="{{resetFlagIsPublic}}" [setOptions]="publicMimicList" (selectStateChanged)="onChangePublicFilter($event)"></app-mimic-dropdown>
                                </div>
                                <div class="col-3">
                                    <app-mimic-dropdown placeHolder="Filtrer par favori" resetFlag="{{resetFlagIsFavorite}}" [setOptions]="favoriteMimicList" (selectStateChanged)="onChangeFavoriteFilter($event)"></app-mimic-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)" ></app-order-dropdown>
                                </div>
                                <div class="col-3" >
                                    <button mat-raised-button color="primary" style="width: 80%;"   (click)="submitFilter()">Appliquer</button>
                                </div>
                                <div class="col-3">
                                    <button mat-raised-button color="warn"  style="width: 80%;" (click)="resetFilter()">Réinitialiser</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" style="width: 100%;"> <!--List accordéon-->
                        <div *ngIf="dataList" style="width: 100%;" class="accordion" id="accordion_my_outfit_">
                            <app-outfit-list-item idName="my_outfit_" *ngFor="let outfit of dataList.list" (onDeleteOutfit)="onDeleteOutfit($event)" [setPossessionOptions]="possessionList" [setOutfit]="outfit" (updateOutfit)="onUpdateOutfit($event)" (onShowComments)="onShowComments($event)"></app-outfit-list-item>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataList"> <!--Pagination-->
                        <div class="col-4">
                            Elements par page
                            <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                <option *ngFor="let e of elementsPerPage">{{e}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                            <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                                <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                        </div>
                    </div>
                    
                </div>

                <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="tab-create">
                    <div class="row" style="text-align: center;">
                        <h4 style="width: 100%;">Créer une tenue</h4>
                    </div>
                    <div class="row" style="width: 100%;"> <!--Mono accordéon-->
                        <div  style="width: 100%;" class="accordion" id="accordion_add_outfit_">
                            <app-outfit-list-item idName="add_outfit_" (addOutfit)="onAddOutfit($event)" [setOutfit]="addOutfit" [setPossessionOptions]="possessionList"  ></app-outfit-list-item>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="publicList" role="tabpanel" aria-labelledby="tab-public-list">
                    <div class="row" style="text-align: center;">
                        <h4 style="width: 100%;">Consulter</h4>
                    </div>
                    <div class="row">
                        <app-consult-outfit style="width: 100%;" (showComments)="onShowComments($event)" type="button" ></app-consult-outfit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentsModalTitle">Commentaires de la tenue  {{outfitNameForComments}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-outfit-note [setOutfitModel]="outfitModelForCommentSection" *ngIf="showCommentSection === true" ></app-outfit-note>
        </div>
        
      </div>
    </div>
  </div>