<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>
                        Possessions
                    </h2>
                </div>
                <div class="row">
                    <h5>Filtrer</h5>
                </div>
                <div class="row"><!--Vêtement, Type, Couleur, Statuts-->
                    <div class="col-3">
                        <app-clothe-multi-dropdown placeHolder="Filtrer par vêtement" resetFlag={{resetFlagClothe}} [setOptions]="clotheList" (selectStateChanged)="onChangeClotheFilter($event)"></app-clothe-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-clothe-type-multi-dropdown placeHolder="Filtrer par type" resetFlag={{resetFlagClotheType}} [setCategories]="clotheTypeCategories" [setOptions]="clotheTypeList" (selectStateChanged)="onChangeClotheTypeFilter($event)"></app-clothe-type-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-color-multi-dropdown placeHolder="Filtrer par couleur" resetFlag={{resetFlagColor}} [setOptions]="colorList" (selectStateChanged)="onChangeColorFilter($event)"></app-color-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-possession-status-multi-dropdown placeHolder="Filtrer par état" resetFlag={{resetFlagPossessionStatus}} [setOptions]="possessionStatusList" (selectStateChanged)="onChangePossessionStatusFilter($event)"></app-possession-status-multi-dropdown>
                    </div>
                </div>
                <div class="row"> <!--Propriétaire, saison, sexe, marque-->
                    <div class="col-3">
                        <app-owner-multi-dropdown placeHolder="Filtrer par propriétaire" resetFlag={{resetFlagOwner}} [setOptions]="ownerList" (selectStateChanged)="onChangeOwnerFilter($event)"></app-owner-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-season-multi-dropdown placeHolder="Filtrer par saison" resetFlag={{resetFlagSeason}} [setOptions]="seasonList" (selectStateChanged)="onChangeSeasonFilter($event)"></app-season-multi-dropdown>
                    </div>                        
                    <div class="col-3">
                        <app-sex-multi-dropdown placeHolder="Filtrer par sexe" resetFlag={{resetFlagSex}} [setOptions]="sexList" (selectStateChanged)="onChangeSexFilter($event)"></app-sex-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-brand-multi-dropdown placeHolder="Filtrer par marque" resetFlag={{resetFlagBrand}} [setOptions]="brandList" (selectStateChanged)="onChangeBrandFilter($event)"></app-brand-multi-dropdown>
                    </div>
                </div>
                <div class="row"> <!--ordre, Taille, Style, Thème-->
                    <div class="col-3">
                        <app-size-multi-dropdown placeHolder="Filtrer par taille" resetFlag={{resetFlagSize}} [setOptions]="sizeList" [setCategories]="sizeCategories" (selectStateChanged)="onChangeSizeFilter($event)"></app-size-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-style-multi-dropdown placeHolder="Filtrer par style" resetFlag={{resetFlagStyle}} [setOptions]="styleList" (selectStateChanged)="onChangeStyleFilter($event)"></app-style-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-theme-multi-dropdown placeHolder="Filtrer par thème" resetFlag={{resetFlagTheme}} [setOptions]="themeList" (selectStateChanged)="onChangeThemeFilter($event)"></app-theme-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-order-dropdown [orders]="orders" placeHolder="Trier par" resetFlag="{{resetFlagOrder}}" (orderChanged)="onChangeOrder($event)"></app-order-dropdown>
                    </div>
                </div>
                <div class="row"> <!--  Ordre, Valider, Réinitialiser-->
                    <div class="col-3">
                        <button mat-raised-button color="primary" (click)="submitFilter()" >Filtrer</button>
                    </div>
                    <div class="col-3">
                        <button mat-raised-button color="warn" (click)="resetFilter()">Réinitialiser</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionPossessions">
                    <ng-container *ngIf="dataList">
                        <app-possession-list-item *ngFor="let possession of dataList.list" [setFriendOptions]="everyFriends" [setPossessionStatusOptions]="everyPossessionStatuses" (updatePossession)="onUpdatePossession($event)" (deletePossession)="onDeletePossession($event)" (sharePossession)="onSharePossession($event)" (giveBack)="onGiveBackPossession($event)" [setPossessionModel]="possession" ></app-possession-list-item>
                    </ng-container>
                </div>
                <div class="row" *ngIf="dataList">
                    <div class="col-4">
                        Elements par page
                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                        <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                            <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

