<div *ngIf="isLoggedIn, else elseBlock">
    <div class="container">
        <h2>Vous êtes déjà connecté, inutile de créer un compte</h2>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card w-80 text-center">
                    <h5>Inscription</h5>
                    <div class="card-body">
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group">
                                <label for="userName">Pseudo:</label>
                                <input type="text" id="userName" class="form-control" formControlName="userName" matTooltip="Doit contenir entre 4 et 30 caractères" required/>
                            </div>
                            <div class="form-group">
                                <label for="mail">Adresse e-mail:</label>
                                <input type="email" id="mail" class="form-control" formControlName="mail" matTooltip="Doit respecter le format des adresses e-mail" required/>
                            </div>
                            <div class="form-group">
                                <label for="mailConfirmation">Confirmer l'adresse e-mail:</label>
                                <input type="email" id="mailConfirmation" class="form-control" formControlName="mailConfirmation" matTooltip="Doit respecter le format des adresses e-mail et être identique à l'adresse entrée précédemment"  required/>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Prénom:</label>
                                <input type="text" id="firstName" class="form-control" formControlName="firstName" matTooltip="Doit contenir entre 2 et 30 caractères" required/>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Nom de famille:</label>
                                <input type="text" id="lastName" class="form-control" formControlName="lastName" matTooltip="Doit contenir entre 2 et 30 caractères" required/>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" class="form-control" formControlName="password" matTooltip="Doit contenir entre 6 et 50 caractères" required/>
                            </div>
                            <div class="form-group">
                                <label for="passwordConfirmation">Confirmer mot de passe:</label>
                                <input type="password" id="passwordConfirmation" class="form-control" formControlName="passwordConfirmation" matTooltip="Doit contenir entre 6 et 50 caractères et correspondre au mot de passe précédemment rentré" required/>
                            </div>
                            <div class="form-group">
                                <label for="agreedDataPolicy"><a routerLink="/dataPolicy" class="nav-link" role="button" routerLinkActive="active" href="#">J'ai lu et j'accepte la politique d'utilisation des données.</a></label>
                                <mat-checkbox id="agreedDataPolicy" formControlName="agreedDataPolicy" matTooltip="Vous devez les accepter pour vous créer un compte" required></mat-checkbox>                            
                            </div>


                            <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</ng-template>