<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>Vêtements</h2>
                </div>
                <div class="row">
                    <h5>Filtrer</h5>
                </div>
                <div class="row">
                    <div class="col-3">
                        <app-season-multi-dropdown  placeHolder="Filtrer par saison" resetFlag={{resetFlagSeason}} [setOptions]="seasonListModel" (selectStateChanged)="onChangeSeasonFilter($event)"></app-season-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-provider-multi-dropdown placeHolder="Filtrer par fournisseur" resetFlag={{resetFlagProvider}} [setOptions]="providerListModel" (selectStateChanged)="onChangeProviderFilter($event)"></app-provider-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-clothe-type-multi-dropdown placeHolder="Filtrer par type" resetFlag={{resetFlagClotheType}} [setOptions]="clotheTypeListModel" [setCategories]="clotheTypeCategories" (selectStateChanged)="onChangeClotheTypeFilter($event)"></app-clothe-type-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-color-multi-dropdown placeHolder="Filtrer par couleur" resetFlag={{resetFlagColor}} [setOptions]="colorListModel" (selectStateChanged)="onChangeColorFilter($event)"></app-color-multi-dropdown>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-3">
                        <app-sex-multi-dropdown placeHolder="Filtrer par sexe" resetFlag={{resetFlagSex}} [setOptions]="sexListModel"  (selectStateChanged)="onChangeSexFilter($event)"></app-sex-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-brand-multi-dropdown placeHolder="Filtrer par marque" resetFlag={{resetFlagBrand}} [setOptions]="brandListModel" (selectStateChanged)="onChangeBrandFilter($event)"></app-brand-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-material-multi-dropdown placeHolder="Filtrer par matière" resetFlag={{resetFlagMaterial}} [setOptions]="materialListModel" (selectStateChanged)="onChangeMaterialFilter($event)"></app-material-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-size-multi-dropdown placeHolder="Filtrer par taille" resetFlag={{resetFlagSize}} [setOptions]="sizeListModel" [setCategories]="sizeCategories" (selectStateChanged)="onChangeSizeFilter($event)"></app-size-multi-dropdown>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-3">
                        <app-style-multi-dropdown placeHolder="Filtrer par style" resetFlag={{resetFlagStyle}} [setOptions]="styleListModel" (selectStateChanged)="onChangeStyleFilter($event)"></app-style-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-theme-multi-dropdown placeHolder="Filtrer par thème" resetFlag={{resetFlagTheme}} [setOptions]="themeListModel" (selectStateChanged)="onChangeThemeFilter($event)"></app-theme-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-minimum-rating-dropdown placeHolder="note minimale" resetFlag={{resetFlagMinimumNote}} (selectStateChanged)="onChangeMinimumNoteFilter($event)"></app-minimum-rating-dropdown>
                    </div>
                    <div class="col-3">
                        <app-order-dropdown [orders]="orders" placeHolder="Trier par:" resetFlag={{resetFlagOrder}} (orderChanged)="onChangeOrder($event)" ></app-order-dropdown>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-3">
                        <!--Champ pour le nom + label-->
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <mat-label>Filtrer par nom</mat-label>
                              <input matInput [formControl]="clotheNameFilter"
                                     placeholder="Ex. Nike Air">
                              <mat-error *ngIf="clotheNameFilter.invalid">
                                Des caractères interdits ont été détectés!
                              </mat-error>
                            </mat-form-field>
                          </form>
                    </div>
                    <div class="col-3" style="display: flex;" >
                        <!-- Boutons Valider et réinitialiser -->
                        <button mat-raised-button color="primary" class="formButton" style="margin:auto;" (click)="submitFilter()" [disabled]="clotheNameFilter.invalid">Valider</button>
                        <button mat-raised-button color="warn" class="formButton" style="margin:auto;" (click)="resetFilter()">Réinitialiser</button>
                    </div>
                    <div class="col-6">
                        <!--Liste des tags-->
                    </div>
                </div>

                
            </div>
            <div class="card-body">
                <div class="accordion" id = "accordionClothes">
                    <ng-container *ngIf="dataList">
                        <app-clothe-list-item *ngFor="let clothe of dataList.list" (getComments)="onGetComments($event)" [setSizeOptions]="sizeListModel" [setSizeCategories]="sizeCategories" [setClotheTypeOptions]="clotheTypeListModel" [setClotheTypeCategories]="clotheTypeCategories" [setSexOptions]="sexListModel" [setMaintenanceInstructionOptions]="maintenanceInstructionListModel" [setBrandOptions]="brandListModel" [setSeasonOptions]="seasonListModel" [setColorOptions]="colorListModel" [setMaterialOptions]="materialListModel" [setProviderOptions]="providerListModel" [setStyleOptions]="styleListModel" [setThemeOptions]="themeListModel"    (updateClothe)="onUpdateClothe($event)" (deleteClothe)="onDeleteClothe($event)"  [setClotheModel]="clothe" [hasAdminRole]="hasAdminRole" ></app-clothe-list-item>
                    </ng-container>
                </div>
                <div class="row" *ngIf="hasAdminRole">
                    <button mat-mini-fab color="primary" (click)="onAddClothe()">+</button>
                </div> 
                <div class="row" *ngIf="dataList">
                    <div class="col-4">
                        Elements par page
                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                        <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                            <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--Modal commentaires-->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentsModalTitle">Commentaires du vêtement {{clotheNameForComments}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-clothe-note [setClotheModel]="clotheModelForCommentSection" *ngIf="showCommentSection === true" ></app-clothe-note>
        </div>
        
      </div>
    </div>
  </div>