/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar{
    background:rgb(170, 32, 32); 
    color: rgb(231, 211, 31);
}

.success-snackbar{
    background: #0ca067;
    color: rgb(231, 211, 31);
}

.information-snackbar{
    color: rgb(219, 219, 211);
    background: rgb(34, 32, 32)
}
