<div *ngIf="isLoggedIn else elseBlock">
    <div class="container">
        <h2> Si vous voulez modifier votre mot de passe, passez par Profil => modifier mes informations de connexion</h2>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card text-center">
                    <h5>Changer de mot de passe</h5>
                    <div class="card-body">
                        <form [formGroup]="recoverForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group">
                                <label for="newPassword">Adresse e-mail:</label>
                                <input type="email" id="mail" class="form-control" formControlName="mail" matTooltip="Votre adresse e-mail" required/>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Nouveau mot de passe:</label>
                                <input type="password" id="newPassword" class="form-control" formControlName="newPassword" matTooltip="Votre nouveau mot de passe doit faire entre 6 et 50 caractères" required/>
                            </div>
                            <div class="form-group">
                                <label for="newPasswordConfirmation">Confirmer le mot de passe:</label>
                                <input type="password" id="newPasswordConfirmation" class="form-control" formControlName="newPasswordConfirmation" matTooltip="Confirmez votre nouveau mot de passe" required/>
                            </div>
                            <div class="form-group">
                                <label for="recoveryString">Chaine de récupération:</label>
                                <input type="text" id="recoveryString" class="form-control" formControlName="recoveryString" matTooltip="La chaîne de récupération que vous avez reçue par mail. Elle fait entre 64 et 128 caracères, faites attention a ne pas inclure d'espaces ou de retours à la ligne!" required/>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="recoverForm.invalid">Changer le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</ng-template>