<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>Possessions prêtées</h2>
                </div>
                <div class="row">
                    <h5>Filtrer</h5>
                </div>
                <div class="row"><!--Filtres: Vêtement, Marque, CT, wearer-->
                    <div class="col-3">
                        <app-clothe-multi-dropdown placeHolder="Filtrer par vêtement" resetFlag={{resetFlagClothe}} [setOptions]="clotheList" (selectStateChanged)="onChangeClotheFilter($event)"></app-clothe-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-clothe-type-multi-dropdown placeHolder="Filtrer par type" resetFlag={{resetFlagClotheType}} [setCategories]="clotheTypeCategories" [setOptions]="clotheTypeList" (selectStateChanged)="onChangeClotheTypeFilter($event)"></app-clothe-type-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-owner-multi-dropdown placeHolder="Filtrer par ami" resetFlag={{resetFlagWearer}} [setOptions]="wearerList" (selectStateChanged)="onChangeWearerFilter($event)"></app-owner-multi-dropdown>
                    </div>
                    <div class="col-3">
                        <app-brand-multi-dropdown placeHolder="Filtrer par marque" resetFlag={{resetFlagBrand}} [setOptions]="brandList" (selectStateChanged)="onChangeBrandFilter($event)"></app-brand-multi-dropdown>
                    </div>
                </div>
                <div class="row"> <!--  Ordre, Valider, Réinitialiser-->
                    <div class="col-3">
                        <app-order-dropdown [orders]="orders" placeHolder="Trier par" resetFlag="{{resetFlagOrder}}" (orderChanged)="onChangeOrder($event)"></app-order-dropdown>
                    </div>
                    <div class="col-3">
                        <button mat-raised-button color="primary" (click)="submitFilter()" >Filtrer</button>
                    </div>
                    <div class="col-3">
                        <button mat-raised-button color="warn" (click)="resetFilter()">Réinitialiser</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionPossessions">
                    <ng-container *ngIf="dataList">
                        <app-shared-possession-list-item *ngFor="let possession of dataList.list"  [setPossessionModel]="possession" ></app-shared-possession-list-item>
                    </ng-container>
                </div>
                <div class="row" *ngIf="dataList">
                    <div class="col-4">
                        Elements par page
                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label *ngIf="pages.length > 1" for="pagination">Numéro de page</label>
                        <select class="selectpicker" id="pagination" *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)">
                            <option *ngFor="let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
