<div *ngIf="possessionModel" class="card">
    <div class="card-header" attr.id="{{'heading_' + possessionModel.possessionId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed " type="button" data-toggle="collapse" attr.data-target="{{'#collapse_' + possessionModel.possessionId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' + possessionModel.possessionId}}" [class.greenBackground]="hasReadyStatus === true" [class.redBackground]="hasReadyStatus === false" >
                    {{possessionModel.clotheModel.name}}, taille: {{possessionModel.sizeModel.size}}
                    , état(s): <div *ngFor="let status of possessionModel.statuses">{{status.possessionStatus}}</div>
                    <img *ngFor="let picture of possessionModel.clotheModel.pictureModels" alt="{{picture.name}}" src="{{picture.url}}" style="width:5em; max-height:5em; border-radius: 4px; margin-left: 2px; margin-right: 2px;">
            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + possessionModel.possessionId}}" class="collapse" attr.aria-labelledby="{{'heading_' + possessionModel.possessionId}}" data-parent="#accordionPossessions">
        <div class="card-body">
            <div class="row">
                <div class="col-4"> <!--Photos-->
                    <div class="row" *ngFor="let picture of possessionModel.clotheModel.pictureModels">
                        <a href="{{picture.url}}" target="_blank">
                            <img src="{{picture.url}}" alt="{{picture.name}}" class="med-img">
                        </a>
                    </div>
                </div>
                <div class="col-4"> <!--Infos-->
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Vêtement:</mat-label>
                            <mat-chip-list>
                                <mat-chip>
                                    <a href="{{possessionModel.clotheModel.url}}" target="_blank">{{possessionModel.clotheModel.name}}</a>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <app-size-dropdown [setOptions]="availableSizes" (selectStateChanged)="onChangeSize($event)" [setValues]="possessionModel.sizeModel" [setCategories]="sizeCategories" isFilter="false" placeHolder="Taille" ></app-size-dropdown>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Sexe: </mat-label>
                            <mat-chip-list>
                                <mat-chip>
                                    {{possessionModel.clotheModel.sexModel.sex}}            
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Matières:</mat-label>
                            <mat-chip-list aria-label="Matières">
                                <mat-chip style="display: none;"></mat-chip>
                                <mat-chip *ngFor="let mat of possessionModel.clotheModel.materialModels">{{mat.name}}</mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Styles:</mat-label>
                            <mat-chip-list aria-label="Styles">
                                <mat-chip style="display: none;"></mat-chip>
                                <mat-chip *ngFor="let style of possessionModel.clotheModel.styleModels" >{{style.style}}</mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Thèmes:</mat-label>
                            <mat-chip-list aria-label="Thèmes" >
                                <mat-chip style="display: none;"></mat-chip>
                                <mat-chip *ngFor="let theme of possessionModel.clotheModel.themeModels" >{{theme.theme}}</mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Saison: </mat-label>
                            <mat-chip-list aria-label="Thèmes" >
                                <mat-chip style="display: none;"></mat-chip>
                                <mat-chip>
                                    {{possessionModel.clotheModel.seasonModel.season}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Type(s):</mat-label>
                            <mat-chip-list aria-label="Types" >
                                <mat-chip style="display: none;"></mat-chip>
                                <mat-chip *ngFor="let ct of possessionModel.clotheModel.clotheTypeModels" >{{ct.clotheType}}</mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <app-possession-status-multi-dropdown (selectStateChanged)="onChangeStatuses($event)" [setOptions]="everyPossessionStatuses" isFilter="false" [setValues]="possessionModel.statuses" mustBeSet="true" placeHolder="statuts"></app-possession-status-multi-dropdown>
                    </div>
                    <div class="row">
                        <button mat-raised-button color="primary" (click)="onUpdatePossession()">Valider les changements</button>
                    </div>

                </div>
                <div class="col-4"><!--Fonctionnalités (prêter/rendre, supprimer, valider changements, )-->
                    <div class="row" *ngIf="isOwner == true, else isNotOwner">
                        <app-wearer-dropdown (selectStateChanged)="onChangeWearer($event)" [setOptions]="friends" isFilter="false" placeHolder="Prêter à un ami"></app-wearer-dropdown>
                    <button mat-raised-button (click)="onshareToFriend()" [disabled]="intendsToShare === false">Prêter à cet ami</button>
                    </div>
                    <ng-template #isNotOwner>
                        <div class="row">
                            <p>Ce vêtement vous a été prêté par votre ami {{possessionModel.owner}}</p>
                            <button mat-raised-button (click)="onGiveBack()">Cliquez ici si vous souhaitez lui rendre</button>
                            
                        </div>
                    </ng-template>
                    <div class="row" *ngIf="isOwner === true">
                        <button  mat-raised-button color="warn" (click)="onDeletePossession()" style="margin-top:1em;">Supprimer de vos possessions</button>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>