.greenBackground{
    background-color: rgba(16, 252, 16, 0.144);
}

.redBackground{
    background-color: rgba(253, 10, 10, 0.151);
}

.med-img{
    width: 10em;
    max-width: 10em;
    border-radius: 5px;
    margin: 5px;
}