<div class="card">
    <div class="card-header" attr.id="{{'heading_' + friendshipModel.friendshipId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_' + friendshipModel.friendshipId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' +friendshipModel.friendshipId}}">
                {{friendshipModel.userTwo.userName}}({{friendshipModel.userTwo.firstName}} {{friendshipModel.userTwo.lastName}}), Vous lui avez prêté {{sharedWithThisFriend.numberOfItems}} vêtements, il/elle vous en a prêté {{sharedFromThisFriend.numberOfItems}}.
            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + friendshipModel.friendshipId}}" class="collapse" attr.aria-labelledby="{{'heading_' + friendshipModel.friendshipId}}" dat-parent="#accordionFriends" >
        <div class="card-body">
            <div class="row">
                <div class="col-3" style="background-color: rgba(100, 15, 200, 0.3); border-radius: 5px; padding: 3px;">
                    <div class="row">
                        <div class="col-12">Prêtés à cet ami:</div>
                    </div>
                    <div class="row" *ngFor="let possession of sharedWithThisFriend.list" >
                        <div class="col-8">
                            <a href="{{possession.clotheModel.url}}" target="_blank">
                                {{possession.clotheModel.name}} taille {{possession.sizeModel.size}}
                            </a>
                        </div>
                        <div class="col-4">
                            <div *ngIf="possession.clotheModel.pictureModels.length > 0">
                                <a href="{{possession.clotheModel.pictureModels[0].url}}" target="_blank">
                                    <img src="{{possession.clotheModel.pictureModels[0].url}}" alt="{{possession.clotheModel.pictureModels[0].name}}" style="width:5em; max-height: 5em; border-radius: 5px; margin:5px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="background-color: rgba(136, 78, 201, 0.3); border-radius: 5px; padding: 3px;">
                    <div class="row">
                        <div class="col-12">Prêtés par cet ami:</div>
                    </div>
                    <div class="row" *ngFor="let possession of sharedFromThisFriend.list" >
                        <div class="col-8">
                            <a href="{{possession.clotheModel.url}}" target="_blank">
                                {{possession.clotheModel.name}} taille {{possession.sizeModel.size}}
                            </a>
                        </div>
                        <div class="col-4">
                            <div *ngIf="possession.clotheModel.pictureModels.length > 0">
                                <a href="{{possession.clotheModel.pictureModels[0].url}}" target="_blank">
                                    <img src="{{possession.clotheModel.pictureModels[0].url}}" alt="{{possession.clotheModel.pictureModels[0].name}}" style="width:5em; max-height: 5em; border-radius: 5px; margin:5px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" > <!--Groupes lessive en commun-->
                    <div class="row" style="padding-left: 2em; padding-right: 2m; padding-bottom: 2em;"  >
                        <p>Groupes lessive en commun:</p>
                    </div>
                    <div class="row" *ngFor="let group of commonLaundryGroup.list" style="padding-left: 2em; padding-right: 2em; padding-bottom: 2em;" >
                        {{group.laundryGroupName}}
                    </div>
                </div>
                <div class="col-3"><!--Actions (wishlist, vers possessions, vers tenues, supprimer ami)-->                    
                    <div class="row">
                        <p style="text-align: center; width: 100%;">Actions</p>
                    </div>
                    <div class="row">
                        <button mat-raised-button color="primary" (click)="onGoToWishList()" style="margin-bottom: 2em; width: 100%;">Accéder à la liste de souhaits</button>
                        
                    </div>
                    <div class="row">
                        <button mat-raised-button color="primary" (click)="onGoToPossessions()" style="margin-bottom: 2em; width: 100%;">Accéder aux possessions</button>
                    </div>
                    <div class="row">
                        <button mat-raised-button color="primary" (click)="onGoToOutfits()" style="margin-bottom: 2em; width: 100%;">Accéder aux tenues</button>
                     </div>
                    <div class="row">
                        <button mat-raised-button color="warn" (click)="deleteFriend()" style="margin-bottom: 2em; width: 100%;">Supprimer de vos amis</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>