<div *ngIf="dataList">
    <mat-form-field [formGroup]="form" *ngIf="dataList.numberOfItems > 0">
        <mat-label>{{placeHolder}}</mat-label>
        <mat-select formControlName="selectForm" [compareWith]="compareObjects" (selectionChange)="onSelect($event)" multiple >
            <mat-option *ngFor="let color of dataList.list" [value]="color">{{color.color}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>