<div *ngIf="laundryGroupModel">
    <div class="card-header" attr.id="{{'heading_' + idName + laundryGroupModel.laundryGroupId}}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="{{'#collapse_' + idName + laundryGroupModel.laundryGroupId}}" aria-expanded="true" attr.aria-controls="{{'collapse_' + idName + laundryGroupModel.laundryGroupId}}">
                <div class="row">
                    <div class="col-4" *ngIf="isNew === false, else elseHeader">
                        {{laundryGroupModel.laundryGroupName}}
                    </div>
                    <ng-template #elseHeader>
                        <div class="col-4">
                            Créer un nouveau groupe
                        </div>
                    </ng-template>
                </div>
            </button>
        </h2>
    </div>
    <div attr.id="{{'collapse_' + idName + laundryGroupModel.laundryGroupId}}" class="collapse" attr.aria-labelledby="{{'heading_' + idName + laundryGroupModel.laundryGroupId}}" attr.data-parent="{{'#accordion_' + idName}}" style="background-color: rgba(10, 10, 10, .10);">
        <div class="card-body">
            <div class="row" style="width: 100%;">
                <div class="col-4"><!--Infos générales du groupe-->
                    <div class="row">
                        <form [formGroup]="form" *ngIf="form">
                            <div class="col-12" style="width: 100%;">
                                <mat-form-field>
                                    <mat-label>Nom du groupe</mat-label>
                                    <input matInput formControlName="groupName"  placeholder="Le nom du groupe" required >
                                    <mat-error *ngIf="form.controls['groupName'].invalid"  >Le nom n'est pas acceptable</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div class="row" *ngIf="isNew === false, else elseOwner" >
                        <div class="col-12" style="width: 100%;" *ngIf="laundryGroupModel.laundryGroupOwner">
                            Chef du groupe : {{laundryGroupModel.laundryGroupOwner.userName}}
                        </div>
                    </div>
                    <ng-template #elseOwner>
                        <div class="row">
                            <div class="col-12" style="width: 100%;">
                                Chef du groupe : Vous
                            </div>
                        </div>
                    </ng-template>
                    
                    <div class="row">
                        <div class="col-12" style="width: 100%;" *ngIf="laundryGroupModel.laundryGroupMembers">
                            <app-owner-multi-dropdown *ngIf="isGroupOwner === true, else notOwnerMemberList" (selectStateChanged)="onChangeGroupMembers($event)" [setOptions]="userListModel"  [setValues]="laundryGroupModel.laundryGroupMembers" isFilter="false" placeHolder="Membres du groupe"></app-owner-multi-dropdown>
                            <ng-template #notOwnerMemberList>
                                <mat-form-field >
                                    <mat-label>Membres du groupe</mat-label>
                                    <mat-chip-list>
                                        <mat-chip style="display: none;"></mat-chip>
                                        <mat-chip *ngFor="let member of laundryGroupModel.laundryGroupMembers">{{member.userName}}</mat-chip>
                                    </mat-chip-list>
                                </mat-form-field>
                            </ng-template>    
                        </div>
                    </div>
                    <div *ngIf="isNew === true, else notNew">
                        <div class="row" ><!--Créer le groupe-->
                            <div class="col-12" style="width: 100%; margin-top: 1%;">
                            <button mat-raised-button color="primary" [disabled]="form.controls['groupName'].invalid"  (click)="onCreate()">Créer le groupe</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #notNew>
                        <div class="row">
                            <div class="col-12" style="width: 100%;">
                                <app-wearer-dropdown *ngIf="isGroupOwner === true" (selectStateChanged)="onChangeGroupOwner($event)" [setOptions]="groupMembersWithoutCurrentUser" isFilter="false" placeHolder="Céder la propriété du groupe"></app-wearer-dropdown>
                            </div>
                        </div>
                        <div class="row" *ngIf="isGroupOwner === false"><!--Quitter le groupe-->
                            <div class="col-12" style="width: 100%; margin-top: 1%;">
                            <button mat-raised-button color="warn" (click)="onQuit()">Quitter le groupe</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="isGroupOwner === true"><!--Enregistrer modif sur le groupe-->
                            <div class="col-12" style="width: 100%; margin-top: 1%;">
                            <button mat-raised-button color="primary" [disabled]="form.controls['groupName'].invalid" (click)="onSubmitEdit()">Valider les modifications</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="isGroupOwner === true"><!--Supprimer le groupe-->
                            <div class="col-12" style="width: 100%; margin-top: 1%;">
                            <button mat-raised-button color="warn"  (click)="onDelete()">Supprimer le groupe</button>
                            </div>
                        </div>
                    </ng-template>
                    
                    
                </div>
                
                <div class="col-8"><!-- Partie manne à linge-->
                    <div *ngIf="isNew === false" class="row">
                        <div class="col-12" style="border-radius: 5px; background-color: rgba(74, 45, 94, 0.1); width: 100%;">
                            <div class="row">
                                <div class="col-8">
                                    <h5>Liste des mannes à linge du groupe</h5>
                                </div>
                                <div class="col-4">
                                    <button mat-raised-button color="primary" (click)="onCreateLaundryMane()">Ajouter une nouvelle manne</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="laundryGroupModel.laundryManes">
                                <div class="accordion" id="accordion_laundry_manes" style="width: 100%;">
                                    <app-laundry-mane-list-item [setmaneStatusOptions]="maneStatusList" *ngFor="let laundryMane of laundryGroupModel.laundryManes" [setLaundryMane]="laundryMane" [setLaundryGroup]="laundryGroupModel"></app-laundry-mane-list-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>