<div *ngIf="isLogged, else elseBlock">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <div class="card text-center">
                    <h5>Instructions de maintenance:</h5>
    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-list" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Liste des instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-add" data-toggle="tab" href="#add" role="tab" aria-controls="add">Ajouter une instruction de maintenance</a>
                        </li>
                    </ul>
                    <div *ngIf="dataList">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="tab-list">
                                <p>Liste des instructions</p>
                                <div class="row">
                                    <div class="col-10 row">
                                        <div class="col-2 align-self-center">ID
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderById()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=idLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Nom
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByName()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                 <path fill-rule="evenodd" [attr.d]=nameLogoSrcOne/>
                                                 <path fill-rule="evenodd" [attr.d]=nameLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Instruction
                                            <svg class="bi bi-arrow-up" width="1em" height="1em" (click)="onOrderByInstruction()" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" [attr.d]=instructionLogoSrcOne/>
                                                <path fill-rule="evenodd" [attr.d]=instructionLogoSrcTwo/>
                                            </svg>
                                        </div>
                                        <div class="col-3 align-self-center">Editer</div>
                                    </div>
                                        <label class="align-self-center">Supprimer</label>
                                </div>
                                <div class="tableRow row" *ngFor="let control of formArray.controls, index as i" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0" >
                                    <form class="col-10 row"    (ngSubmit)="onSubmitEditData(i)"[formGroup]="formArray.controls[i]" >
                                        <div class="col-2">
                                            <input type="text" id="{{'id_' + control.value['id']}}" class="form-control-plaintext" formControlName="id"  matTooltip="L'id d'une instruction ne peut pas être modifié, vous pouvez juste le voir."  readonly required>
                                        </div>
                                        <div class="col-3 ">
                                            <input type="text" id="{{'name_'+ control.value['id']}}" class="form-control"  formControlName="name" matTooltip="Le nom de l'instruction" required>
                                            <mat-error *ngIf="formArray.controls[i].controls['name'].invalid">Nom invalide</mat-error>
                                        </div>
                                        <div class="col-3" >
                                            <input  type="text" id="{{'instruction_' + control.value['id']}}" class="form-control" formControlName="instruction" matTooltip="L'instruction en tant que telle" required >
                                            <mat-error *ngIf="formArray.controls[i].controls['instruction'].invalid">Instruction irrecevable</mat-error>
                                        </div>
                                        <div class="col-3 ">
                                            <button type="submit" class="btn btn-secondary" [disabled]="control.invalid">Modifier</button>
                                        </div>
                                    </form>
                                    <button (click)="onDeleteData(i)" class="btn btn-danger">Supprimer</button>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Eléments par page
                                        <select class="form-control" (change)="onChangeElementsPerPage($event.target.value)">
                                            <option *ngFor="let e of elementsPerPage">{{e}}</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label *ngIf="pages.length > 1" for="pagination">Numéro de la page</label>
                                        <select class="selectpicker" id="pagination"  *ngIf="pages.length > 1" (change)="onChangePageNumber($event.target.value)" >
                                            <option *ngFor= "let p of pages" [selected]="queryModel.pageNumber + 1 == p">{{p}}</option>  
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        Affichage des éléments {{(queryModel.pageNumber * queryModel.elementsPerPage) +1}} à {{(queryModel.pageNumber * queryModel.elementsPerPage) + dataList.list.length }} sur {{dataList.numberOfItems}} objets trouvés
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="tab-add">
                                <p>Ajouter une instruction</p>
                                <form [formGroup]="addModelForm" class="row" (ngSubmit)="onSubmitAddDataForm()">
                                    <div class="form-inline col-5">
                                        <label for="name">Nom:</label>
                                        <input placeholder="Nom de l'instruction" type="text" id="name" class="form-control" formControlName="name" required matTooltip="Entrez le nom de l'instruction">
                                        <mat-error *ngIf="addModelForm.controls['name'].invalid">Nom invalide</mat-error>
                                    </div>
                                    <div class="form-inline col-5">
                                        <label for="instruction">Instruction:</label>
                                        <input placeholder="L'instruction" type="text" id="instruction" class="form-control" formControlName="instruction" required matTooltip="Entrez l'instruction">
                                        <mat-error *ngIf="addModelForm.controls['instruction'].invalid">Instruction irrecevable</mat-error>
                                    </div>
                                    <div class="col-2 align-self-center">
                                        <button type="submit" class="btn btn-secondary" [disabled]="addModelForm.invalid">Ajouter l'instruction</button>
                                    </div>
                                    
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Cette page n'est accessible qu'aux utilisateurs authentifiés</h2>
</ng-template>




